[2014-06-29 18:55] francoispluchino opened #1 "Normalize the version conversion with semver"
NPM and Bower use Semver for normalize her versions.

Semver version: http://semver.org/
Composer version: https://getcomposer.org/doc/04-schema.md#version

And split the version conversion and version selection (see #2 ).

[2014-06-29 19:02] francoispluchino opened #2 "Normalize the version range in dependencies"
**NPM/Bower range dependencies conversion:**
- [x] `"{name}": "1.2.3"` to `"{name}": "1.2.3"` (28b3952cf6738b7c6d947abebccefc55f03fc1e8)
- [x] `"{name}": "1.2.3 - 2.0"` to `"{name}": ">=1.2.3,<=2.0"` (caaa50ef4cf6ddb232123c2cd101c06b61379755)
- [x] `"{name-1.2.3}": "{name}#1.2.3"` to `"{name}[1.2.3]": "1.2.3"` (882e5fe13a963feb111521972066a4f95b96474c)
- [x] `"{name}": "{URL}"` to `"{name}": "dev-

[2014-06-30 07:29] nsams opened #3 "Autoloading not working"
I wanted to try your plugin but I can't get it running.

Somehow the plugin classes aren't autoloaded - I don't know how the plugin autoloading is supposed to work - maybe you have an idea?

This is what I did:

[code]

[2014-06-30 11:27] nsams opened #5 "Improve performance by avoiding loading asset package file for all versions"
Loading bower.json for all versions is:
- slow
- easily reaches github api limits

While caching helps a lot it does not nor the very first run.

In the BowerRepository I wrote in https://github.com/composer/composer/pull/3078 I managed that by lazy creating package objects.

whatProvides returns an array containing name + version (plus other stuff required internally), loadPackage is then only ca

[2014-06-30 12:05] francoispluchino opened #6 "Adds search command for NPM"
Currently, the search is not available for the NPM Repository, because there is no API to do a search. The NPM CLI client retrieves all registered packages (currently +83000 packages for a file with a size of 40.5 MB) and analyze this file.

There was a URL (https://registry.npmjs.org/-/short)  to retrieve only the list of packages, but it was recently depreciated. However, there is a mirror serve

[2014-07-02 15:46] francoispluchino opened #7 "Run the plugin in "project" mode"
Currently the plugin only works in "global" mode, and to run the plugin in "project" mode, a enhancement must be made in Composer.

See the PR composer/composer#3082.

[2014-07-02 23:22] #1 closed, assigned to francoispluchino

[2014-07-08 11:35] hason opened #8 "Add custom installer for bower and npm"
It would be great to be able to set the vendor path for bower packages and npm packages, eg. similar to https://github.com/composer/installers:

[code]

Custom installer should respect `bower-asset-ignore` configuration.

[2014-07-10 18:07] #2 closed, assigned to francoispluchino

[2014-07-11 06:32] nsams opened #10 "Why put repositories config into extra"
There is probably a valid reason for that, but I wanted to discuss why you can't use the standard repositories config for configuring asset repositories.

Instead of

[code]

why not use:

[code]

same with disabling default repositories:

[code]

could be:

[code]

[2014-07-11 08:16] #3 closed, assigned to nobody

[2014-07-11 18:24] #10 closed, assigned to nobody

[2014-07-11 18:39] #8 closed, assigned to nobody

[2014-07-14 19:59] #5 closed, assigned to francoispluchino

[2014-07-15 14:04] hason opened #11 "Unable to install any bower package"
[code]

[2014-07-15 15:31] #11 closed, assigned to francoispluchino

[2014-07-16 19:24] atkrad opened #12 "Call to undefined method"
When update occured this error:
PHP Fatal error:  Call to undefined method Composer\Package\CompletePackage::getTransportOptions() in /my-project/vendor/fxp/composer-asset-plugin/Package/LazyCompletePackage.php on line 394

[2014-07-16 19:33] #12 closed, assigned to nobody

[2014-07-22 08:24] napsio opened #15 "Not able to install some packages"
There is a problem, when the bower name does not match the package name.

For example the package _jQuery UI_ in the bower repository has the name _jquery.ui_ (https://bower.herokuapp.com/packages/jquery.ui), but in the _bower.json_ and _package.json_ the name is _jquery-ui_. There is a huge number of packages with the same problem, for example _chartjs_ (https://bower.herokuapp.com/packages/chart

[2014-07-22 10:23] #15 closed, assigned to francoispluchino

[2014-07-22 11:42] hason opened #16 "Unable to install branch"
I would like to install `admin-lte` in version, that works for bower: `bower install admin-lte#bower`.

---

composer.json:

[code]

result:

[code]

---

composer.json:

[code]

result:

[code]

[2014-07-22 13:18] #16 closed, assigned to francoispluchino

[2014-08-05 07:26] xxpepe84xx opened #17 "Different behavior than bower"
Hi,

I'm trying to install some packages with the composer-asset-plugin. My composer.json looks like

[code]

But if I try to install I get the error:

[code]

Directly from bower there is no problem. Here my bower.json

[code]

Do you know where the problem is?

Thanks

[2014-08-16 05:02] hason opened #18 "Add command for bidirectional conversion between bower.json and composer.json"

[2014-09-16 10:27] francoispluchino opened #20 "Bug for the conversion of asset version to composer version"
###### 1. The version prefixed by "v" (v1.2.3) is not converted to the Composer version

For example: `v1.2.3-1` must be converted to `v1.2.3-patch1`
###### 2. The range ">=0.10.x" throws an exception

See https://gist.github.com/nsams/d4a32938828e58874a9c

[2014-09-16 15:53] #20 closed, assigned to francoispluchino

[2014-09-16 16:01] francoispluchino opened #21 "Infos of the branch aliases are not mapped"
When the asset package has a `version` section in the root package of the repository, no alias package is created.

[2014-09-17 03:07] vincent-dm opened #22 "How to install two versions of the same bower package?"
The documentation states that two versions of the same bower package can be installed at the same time, but it doesn't really say how. Can you please explain?

Thanks!

[2014-09-17 07:48] #17 closed, assigned to nobody

[2014-09-17 09:56] Borales opened #23 "Renamed repos"
Constant requesting token access for renamed public repos (while trying to get repo info for the previous address). For example:
Old address - https://github.com/ask11/storage, new address - https://github.com/alekseykulikov/storage

I'm getting an error:

[code]

Is there a way to fix this?
(Another example is https://github.com/NickQiZhu/dc.js => https://github.com/dc-js/dc.js)

Thanks.

[2014-09-17 10:15] francoispluchino opened #24 "Redirection of links of VCS repositories does not work"
The redirection of VCS Repositories does not work correctly.

Example:
- [git://github.com/doctyper/grunt-modernizr.git](https://github.com/doctyper/grunt-modernizr) to [git://github.com/Modernizr/grunt-modernizr.git](https://github.com/Modernizr/grunt-modernizr)
- [git://github.com/EightMedia/hammer.js.git](https://github.com/EightMedia/hammer.js) to [git://github.com/hammerjs/hammer.js.git](http

[2014-09-17 10:48] francoispluchino opened #25 "Add support for Mercurial"
Add a driver for Mercurial, because it is used by some NPM packages.

We need to extend the class `Composer\Repository\Vcs\HgDriver`.

**Example:**

[code]

[2014-09-17 14:27] #22 closed, assigned to francoispluchino

[2014-09-17 18:19] #23 closed, assigned to nobody

[2014-09-18 11:08] #21 closed, assigned to francoispluchino

[2014-09-19 06:28] macklay opened #27 "kendo-ui - invalid version"
When Im add keno-ui bower package in my composer.json:
...
"bower-asset/kendo-ui-core": "*",
...
Im see this exception:

[UnexpectedValueException]
  Invalid version string "2014.2.716"

But, 2014.2.716 - is valid version of the last kendo-ui distr

[2014-09-19 10:48] trntv opened #28 ""No driver found" error"
When installing packages i get this:
`No driver found to handle Asset VCS repository http://omnipotent.net/jquery.sparkline/2.1.2/jquery.sparkline.min.js`
as i understand bower may handle with urls as dependency
http://stackoverflow.com/questions/19348076/installing-a-dependency-with-bower-from-url-and-specify-version

[2014-09-19 12:12] francoispluchino opened #29 "An exception is thrown by the Solver after the end of packages installation"
With this configuration, an exception is thrown by the Solver at the end of the installation of the packages.

[code]

To avoid the problem, we must add:

[code]

It should not be necessary to do so. And the problem comes from the alias package for the root branch.

What is strange is that the exception is thrown after the packages installation, and not before. But also, that dependencies resoluti

[2014-09-22 04:57] idwaker opened #30 "Call to undefined method Composer\Package\CompletePackage::getTransportOptions()"
PHP Fatal error:  Call to undefined method Composer\Package\CompletePackage::getTransportOptions() in /Users/diwaker/.composer/vendor/fxp/composer-asset-plugin/Package/LazyCompletePackage.php on line 394

I have added details on #12 comment, as this is same

[2014-09-22 09:14] #29 closed, assigned to francoispluchino

[2014-09-22 10:07] #30 closed, assigned to nobody

[2014-09-22 14:08] SDKiller opened #31 "Not all folders in "ignore" section of bower.json are ignored"
To reproduce: make fresh install of `yiisoft/yii2-app-advanced`.

Go to `vendor\bower` folder of the project and check "ignore" section of `bower.json` of packages:

`bootstrap` - everything in `"ignore"` section was not installed
`jquery.inputmask` -  `nuget` and `qunit` folders remained
`yii2-pjax` - `test` folder remained

[2014-09-22 14:22] #27 closed, assigned to nobody

[2014-09-24 06:06] macklay opened #32 "Difference between install package via composer-asset-plugin and bower"
Im try to compare marionette js install via composer and bower.
Marionette has bower.json with such JQuery dependency:
"jquery": "^1.8.0 || ^2.0.0"

And bower install jquery 2.1.1 - its the latest vesion of jquery
But  composer-asset-plugin install too old version: 2.0.3

If Im set last jquery version manualy in deps in composer json, composer insatll veeeery old marionettejs(wich has not any jque

[2014-09-24 08:49] #32 closed, assigned to francoispluchino

[2014-09-24 09:50] #31 closed, assigned to francoispluchino

[2014-09-24 10:07] francoispluchino opened #33 "Add support for Git Bitbucket"
Add a driver for Git Bitbucket.

We need to extend the class `Composer\Repository\Vcs\GitBitbucketDriver`.

[2014-09-24 10:08] francoispluchino opened #34 "Add support for Mercurial Bitbucket"
Add a driver for Mercurial Bitbucket.

We need to extend the class `Composer\Repository\Vcs\HgBitbucketDriver`.

[2014-09-24 10:10] francoispluchino opened #35 "Add support for SVN"
Add a driver for SVN.

We need to extend the class `Composer\Repository\Vcs\SvnDriver`.

[2014-09-24 10:10] francoispluchino opened #36 "Add support for Perforce"
Add a driver for Perforce.

We need to extend the class `Composer\Repository\Vcs\PerforceDriver`.

[2014-09-26 05:17] philippfrenzel opened #37 "no cli on server issue"
hi, i m running a server at 1und1 and they don t allow me to enter user and password for oauth... it fails then / is their a way to put credentials into a config file, so this can be bypassed / thanks

[2014-09-26 09:01] #37 closed, assigned to nobody

[2014-09-26 13:47] gonimar opened #38 "InvalidArgumentException"
[code]

Exception

[code]

[2014-09-27 13:39] #24 closed, assigned to francoispluchino

[2014-09-28 11:23] francoispluchino opened #39 "Bower ignore files doesn't work on updating of packages"
On update package, the cleaning directory for bower (ignore section) is not executed.

The `Fxp\Composer\AssetPlugin\Installer\BowerIgnoreManager` class is not used correctly.

[2014-09-28 12:27] #39 closed, assigned to francoispluchino

[2014-09-28 23:31] SDKiller opened #40 "Feature request - custom 'ignore' in composer.json"
Like with `bower` packages - but for any non-bower packages - executed on `post-install`, `post-update`.

Something like adding the following to `composer.json` file in the project root:

[code]

[2014-09-29 17:22] #38 closed, assigned to francoispluchino

[2014-09-29 17:33] francoispluchino opened #41 "VCS Repositories are not added in Pool"
The VCS Repositories added during the analysing by the `Solver` are not added in `Pool`, but only in `RepositoryManager`.

**Todo:**
- [x] Must do revert the commit 76c80f0ce6567310ccac670db3d7e780b1ffe19f.
- [x] Must use the new event defined by the PR composer/composer#3171

Of course, a solution is already developed, but I must waiting the merge of the PR composer/composer#3171

[2014-09-29 22:23] cebe opened #42 "Question: Performance improvements possible?"
Currently composer queries bower.json for versions that it is never going to install because of version constraints. Is it somehow possible to avoid these requests?

Having the latest version of composer and the composer-asset-plugin and run the following command:

[code]

[code]

As you can see it is trying to get bower.json for jquery 1.8.3 which is not installable anyway because of the version

[2014-09-30 08:37] angelcoding opened #43 "Memory Issues"
This is actually an issue when using Yii2 but I believe it is directly related to this plugin so thought I'd post here first...

I'm trying to use a bower package in my composer.json but just keep getting fatal PHP memory exhaustion errors.

As a quick isolated test I created a new Yii2 Advanced App project using `php composer.phar create-project --prefer-dist --stability=dev yiisoft/yii2-app-adva

[2014-09-30 08:48] #42 closed, assigned to nobody

[2014-09-30 12:22] francoispluchino opened #44 "Limit the import of versions of packages for a VCS Repository"
On the install, or especially during the update, an VCS repository containing many versions can become extremely slow.

For example, 2 slow packages:
- [jquery/jquery](https://github.com/jquery/jquery) with 7 branchs and 122 tags
- [angular/bower-angular](https://github.com/angular/bower-angular) with 2 branchs and 1 683 tags (extremely slow)
#### Solution 1:

The solution would be to add in the c

[2014-09-30 15:07] ghost opened #45 "Recursive bower.json reading for asset"
Adding  "bower-asset/angular": "1.2.25" starts to read bower.json of of bower-asset/angular (v1.3.0-patch3008), then bower-asset/angular (v1.3.0-patch3007) and so on down by patches and versions.

And finally:
This finishes with Fatal error: Out of memory (allocated 1380712448) (tried to allocate 134217728 bytes) in phar://C:/ProgramData/ComposerSetup/bin/composer.phar/src/Composer/Depende

[2014-10-01 07:43] #41 closed, assigned to francoispluchino

[2014-10-01 08:31] sheillendra opened #46 "asset-installer-paths in composer.lock not work"
This is a continuation of the https://github.com/yiisoft/yii2/issues/5083#issuecomment-57427979.

this code in composer.json :

[code]

will change the bower-asset default directory to 'vendor/bower', and it work and success in my local PC (windows), and composer.lock resulting from the process should be the same.  but why Heroku (ubuntu) always install the library to "vendor/bower-asset" not to "

[2014-10-01 08:51] amjadniazi48 opened #47 "Composer asset plugin error"
i m trying to install the asset plugin but got the following error on windows
![composer asset plugin](https://cloud.githubusercontent.com/assets/2420029/4472484/0b88761a-4948-11e4-8e5c-893e192c4421.png)

[2014-10-01 08:56] #46 closed, assigned to nobody

[2014-10-01 09:18] #47 closed, assigned to nobody

[2014-10-01 19:58] #44 closed, assigned to francoispluchino

[2014-10-02 11:59] #43 closed, assigned to nobody

[2014-10-02 11:59] #45 closed, assigned to nobody

[2014-10-03 01:06] stepanselyuk opened #48 "Problem with package bower-asset/ckeditor"
Within "composer update" I've got that error today:

[code]

[code]

Trace:

[code]

In composer.json I use:

[code]

[2014-10-03 07:30] #48 closed, assigned to francoispluchino

[2014-10-03 17:22] #28 closed, assigned to francoispluchino

[2014-10-04 10:34] #33 closed, assigned to francoispluchino

[2014-10-04 15:15] #25 closed, assigned to francoispluchino

[2014-10-05 10:05] #34 closed, assigned to francoispluchino

[2014-10-05 14:47] #35 closed, assigned to francoispluchino

[2014-10-06 08:18] #36 closed, assigned to francoispluchino

[2014-10-06 09:30] motin opened #49 "Composer update takes ages"
Is it necessary to fetch the bower.json from every tag of the github repositories? Composer does that for custom VCS and that is fine I guess since that is only supported by root project. Can the assets be added to packagist package cache or similar instead?

The practical implications currently are that composer update takes ages. Requiring jquery without any version constraint will trigger 122 f

[2014-10-07 16:58] #40 closed, assigned to francoispluchino

[2014-10-09 22:51] stepanselyuk opened #50 "Problem with package bower-asset/clockpicker"
Hi!
I have problem with package bower-asset/clockpicker (https://github.com/weareoutman/clockpicker)

In it bower.json I see:

[code]

And in vendor/bower/clockpicker folder I don't see the folder "dist",
there is only files:

[code]

Also, how to update only one package via composer?
I've tried

[code]

but seems it checked all of bower-asset/\* packages. It takes a lot of time.

[2014-10-10 13:35] #50 closed, assigned to francoispluchino

[2014-10-10 21:29] s7eph4n opened #51 "[UnexpectedValueException] Could not parse version constraint : Invalid version string """
When trying to add `"bower-asset/jquery-sticky" : "~1.0"` as a requirement I get an UnexpectedValueException: Could not parse version constraint : Invalid version string "".

jquery-sticky itself has a dependency on `"jquery": null`, so I suspect that the null could be the issue.

[2014-10-11 08:27] #51 closed, assigned to francoispluchino

[2014-10-12 13:03] #49 closed, assigned to nobody

[2014-10-15 08:37] francoispluchino opened #52 "Increase performance on Update"
Currently, for the `install`, the plugin recovers only package definitions accepted by the range version. However, for the `update`, the plugin retrieves all definitions of packages, if there is no constraint in the root Composer package.

**I did a proof of concept to drastically reduce the number of import of package definitions for the update:**

Filter the tags that are greater than or equal t

[2014-10-15 13:43] ilyar opened #53 "MUST NOT update asset if run composer update vendor/package"
testeg in v1.0.0 Beta 3

[2014-10-15 17:32] #52 closed, assigned to francoispluchino

[2014-10-15 17:39] #53 closed, assigned to nobody

[2014-10-16 03:46] diablofong opened #54 "composer global install beta3 will display "PHP fatal error Class 'Composer\Installer\InstallerEvents' not found in /Users/duncan/.composer/vendor/fxp/composer-asset-plugin/FxpAssetPlugin.php on line 65""
Hi , i am flow the yii2 install step , but when i use the composer to install composer-asset-plugin is display the error message on the screen

and my install cmd is  `composer global require fxp/composer-asset-plugin:@beta`

how can i install it , thank you

p.s my composer version 1.0.0-alpha8

[2014-10-16 15:31] #54 closed, assigned to nobody

[2014-10-19 09:09] fabioaccetta opened #55 "[UnexpectedValueException] Could not parse version constraint 4.x.x"
When I try to install any version of `qs` (npm package), for example `dev-master`:

[code]

I always get this error running `composer.phar update -vvv` (both with or without `--no-dev`):

[code]

Looking into `package.json` of the package ([here](https://github.com/hapijs/qs/blob/master/package.json)), I see this:

[code]

How can I solve this?
Thanks

[2014-10-20 10:04] #55 closed, assigned to francoispluchino

[2014-10-20 18:45] fabioaccetta opened #56 "[UnexpectedValueException] Package npm-asset/mkdirp's bin key should be an array, string given."
As title says, after updating your plugin (`composer.phar global update` - because of #55) I get this error when I try to install `mkdirp` ([npm package](https://github.com/substack/node-mkdirp)) with `composer.phar update -vvv`:

[code]

[Here the `package.json` of this package](https://github.com/substack/node-mkdirp/blob/master/package.json).

I post also the exception trace if it can help.

[c

[2014-10-22 06:16] #56 closed, assigned to francoispluchino

[2014-10-22 23:16] fabioaccetta opened #57 "[ErrorException] Undefined index: repository"
Sorry, but I have problems installing [`npm-asset/pause`](https://www.npmjs.org/package/pause) [with "*" as version].

[code]

[2014-10-25 14:49] stepanselyuk opened #58 "Problem with package "bower-asset/blueimp-file-upload""
Hello,
I have problem with package "bower-asset/blueimp-file-upload", seems the problem about ignored files.
In `blueimp-file-upload` and required packages `blueimp-canvas-to-blob`, `blueimp-load-image`, `blueimp-tmpl` I don't see any *.js files, *.css files or others. Only subdirs and files `.gitignore`, `.jshintrc`.

In package's bower.json (https://github.com/blueimp/jQuery-File-Upload) I see

[2014-10-25 15:50] fabioaccetta opened #59 "[UnexpectedValueException] Could not parse version constraint 2.X.X"
This exception appears when trying to install [npm/js-bson](https://github.com/mongodb/js-bson); it's `package.json` contains:

[code]

[2014-10-26 08:56] #59 closed, assigned to francoispluchino

[2014-10-26 16:51] francoispluchino opened #60 "Ability to use the Nodejs with NPM and Bower"
This issue is related to yiisoft/yii2#5686.

Often people ask me if the performance can be further improved, despite all the existing optimizations, but alas, I think it is no longer possible to perform optimizations in the plugin. it should directly be made it in the `Solver` (see composer/composer#3283) and the `RemoveFileSystem` (see composer/composer#3282) in Composer.
## Solution 1

A solutio

[2014-10-26 18:58] #58 closed, assigned to francoispluchino

[2014-10-28 14:32] francoispluchino opened #61 "Add config of package versions defined by NPM Registry for a package"
The `repository` section of the config of an NPM package given by the NPM Registry, is not inevitably present.

However, a list of package versions is present, but never complete. It would be interesting to add these package versions, if the `repository` section is not present.

This will avoid the need to manually configure the Asset VCS Repository in the root Composer package.

[2014-10-28 14:34] #57 closed, assigned to francoispluchino

[2014-10-29 11:56] #61 closed, assigned to francoispluchino

[2014-10-30 12:03] #60 closed, assigned to nobody

[2014-10-30 17:26] francoispluchino opened #62 "All versions of package are not displayed with show command"
With the `VcsPackageFilter`, the list of versions for one package displayed with the `show` command, is limited to the root Composer package range versions defined in the `require` section.

[2014-10-30 17:43] #62 closed, assigned to francoispluchino

[2014-10-30 18:42] francoispluchino opened #63 "Optimize the vcs filter with conjunctive mode for the multi constraint"
Ability to modify the `conjunctive` option of multi constraint (or `disjunctive`) for optimize even more the update when the vendors are already installed.

In this manner, same with the dependencies of assets included in the root Composer package, the update is much more optimized with the wildcards.

[2014-10-30 19:52] #63 closed, assigned to francoispluchino

[2014-10-31 10:23] stepanselyuk opened #64 "Problem with package "bower-asset/screenfull""
Hello,
I have error within `composer update`:

[code]

Before it worked without errors, and that repository not updated for a few months.

[2014-10-31 13:25] #64 closed, assigned to francoispluchino

[2014-10-31 15:33] stepanselyuk opened #65 "Problem with "bower-asset/jquery.inputmask""
Hello,
I have problem with update `yiisoft/yii2` composer package which has requirement `"bower-asset/jquery.inputmask": "3.1.*"` in composer.json:

[code]

https://github.com/RobinHerbots/jquery.inputmask/blob/3.x/bower.json

[code]

[2014-10-31 16:20] #65 closed, assigned to nobody

[2014-11-09 21:53] zelenin opened #66 "Not installed stable version"
Package release is not installed using `"bower-asset/codemirror": "4.7.*"`, `"bower-asset/codemirror": "~4@stable"`. Only last dev-version - `"bower-asset/codemirror": "~4"`.
I want the stable 4.7.0.
Bug?

[2014-11-22 03:56] sunra opened #67 "When can we expect a stable version?"

[2014-11-22 09:27] sunra opened #68 "2 versions of bower-asset needed but have one"
Trying to install AngularJS in 2 versions

[code]

In both cases installed vesrsion 1.3.3

but in case on TwBootstrap, this:

[code]

working fine

[2014-11-22 18:37] #66 closed, assigned to francoispluchino

[2014-11-22 23:44] #68 closed, assigned to nobody

[2014-11-23 00:17] #67 closed, assigned to nobody

[2014-11-24 10:08] callmez opened #69 "Import too many tags ..."
when i want to install angular bower package, will wait long time to import tags(2000+ tags....),
in the end is still get error.......fuxx..

[code]

Is there any way to make this fast....

the  composer settings `"bower-asset/angular": "1.2.*@stable | 1.3.*@stable"`

[2014-11-25 16:09] #69 closed, assigned to francoispluchino

[2014-11-26 22:57] samdark opened #70 "Bower packages are case sensitive"
It seems currently plugin lowercases package name and it seems to be wrong since Bower package names are case sensitive. See https://github.com/yiisoft/yii2/issues/6276

[2014-11-28 11:45] francoispluchino opened #71 "Force using of Git Driver for Github to retrieve VCS informations"
To further improve performance, we can force the use of GIT Driver in GitHub Drvier to retrieve the list of `tags`, `branches`, and each `bower.json`/`package.json` files.

Currently, the Github Driver directly uses the APIs, but it uses the Git Driver only if the `no-api` option is specified.

However, We have to establish a fallback to the APIs, if the Git Driver cannot be initialized (GIT no pr

[2014-12-01 23:44] stepanselyuk opened #72 "Composer error (Argument 1 passed to Composer\DependencyResolver\Rule::getPrettyString() ....)"
Hello,
today I got error:

[code]

[2014-12-02 06:33] #72 closed, assigned to nobody

[2014-12-02 15:05] gharlan opened #73 "Problem with "toopay/bootstrap-markdown""
the `require` part of my `composer.json`:

[code]

With `composer update` I get this error:

[code]

The bootstrap-markdown requires bootstrap `~3` (https://github.com/toopay/bootstrap-markdown/blob/master/bower.json#L6). This should match `3.3`.

[2014-12-02 19:00] #73 closed, assigned to francoispluchino

[2014-12-03 11:38] davidndunoon opened #74 "Yii2 composer error exception"
I have been using Yii2 and installing extensions with composer but now I'm am getting an error exception, I have reinstalled xampp and composer but still getting error, below is details of exception that happens when installing any template or extention, any help would be appreciated.

c:\xampp\php>composer install
Loading composer repositories with package information
Installing dependencies (inc

[2014-12-03 21:40] Einkoro opened #75 "npm-asset/gulp issue with pretty-hrtime dependency"
With beta4 installed globally I am not able to install the latest version of gulp. I tried deleting the vendor directory and encountered the same error.

[code]

[code]

[2014-12-03 21:57] #71 closed, assigned to nobody

[2014-12-06 10:42] francoispluchino opened #76 "Conversion of Caret Ranges is invalid"
[NPM Documentation of Caret Ranges](https://github.com/npm/node-semver#caret-ranges-123-025-004):

Allows changes that do not modify the left-most non-zero digit in the [`major`, `minor`, `patch`] tuple. In other words, this allows patch and minor updates for versions `1.0.0` and above, patch updates for versions `0.X >=0.1.0`, and no updates for versions `0.0.X`.

Many authors treat a `0.x` versi

[2014-12-06 17:23] #76 closed, assigned to francoispluchino

[2014-12-08 09:43] #74 closed, assigned to nobody

[2014-12-11 13:32] francoispluchino opened #78 "Use the new native caret operator"
Remove the conversion of operator caret when the PR composer/composer#3522 will be merged.

[2014-12-15 07:34] SDKiller opened #79 "Bower packages are updated constantly"
Even if they were not updated.
Seems that happened after one of the latest composer updates.

[code]

1 minute later (expected to see "Nothing to install or update"):

[code]

[2014-12-16 10:03] samdark opened #80 "Plugin is broken after recent composer update"
1. `composer self-update`.
2. `composer create-project --prefer-dist yiisoft/yii2-app-basic test`.

![composer_new](https://cloud.githubusercontent.com/assets/47294/5451721/dc19f0c6-8523-11e4-96fa-704f6714ad85.png)

`1.0.0-alpha9-1-g029f709 2014-12-07 17:46:04` works fine.

See https://github.com/yiisoft/yii2/issues/6537

[2014-12-16 11:20] #79 closed, assigned to francoispluchino

[2014-12-16 11:20] #80 closed, assigned to francoispluchino

[2014-12-18 17:52] mbman opened #81 "Asset not detected if bower.json is missing"
For instance https://github.com/woothemes/FlexSlider exists as `flexslider` Bower package, but it's not detected by composer-assets at all.

[2014-12-19 11:52] lutaev opened #82 "Differences between installing via bower and via composer"
When i install plugin using composer it doesn't pull any javascript files because ignore section contains some strings like this:

[code]

and plugin doesn't get nesessary components

[2014-12-19 17:45] mtutty opened #83 "Composer fails with bower-asset/angular-nvd3 -> nvd3 dependency"
Error given by composer with composer-asset-plugin:

[code]

From the angular-nvd3/bower.json file:

[code]

Before adding the angular-nvd3 library, I had other bower components in my composer.json, and it was working properly.  Removing angular-nvd3 from composer.json removes the error.

[2014-12-23 09:35] #81 closed, assigned to francoispluchino

[2014-12-23 10:46] #82 closed, assigned to francoispluchino

[2014-12-26 10:15] #83 closed, assigned to francoispluchino

[2014-12-29 05:01] challgren opened #84 "Question with github repo"
Is there an example to use a bower package from a github repo? I've tried bower-github-asset/myrepo but I'm getting errors. All the standard bower plugins work fine.

[2014-12-29 08:55] hoksilato opened #85 "How to know what errors when running"
My composer hang on when creating yii2-basic-application.

![hang](https://cloud.githubusercontent.com/assets/2535342/5567234/f090fa1e-8f72-11e4-8d9d-da1ef794185a.png)

How can view what error is occuring?

[2014-12-29 09:20] #84 closed, assigned to francoispluchino

[2014-12-29 09:47] #85 closed, assigned to nobody

[2014-12-29 19:54] kaluzki opened #86 "downgrading a bower-asset doesn't work"
The same sequence for a npm-asset seems however to work, but not for a bower-asset

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2014-12-30 11:01] #86 closed, assigned to nobody

[2015-01-07 03:52] jasonrichardsmith opened #87 "Requires in Packagist"
I am creating a new repo that relies heavily on your loader.

Everything seemed to work fine in the root, when I was developing my project, but the plugin does not seem to be able to recognize in my packagist package.

https://packagist.org/packages/mongular/mongular

[2015-01-07 07:58] francoispluchino commented on #87
The plugin must be installed in global mode (not in the `require` section in your composer.json project).

[code]

In your composer.json project, you must added the `@dev` flag for each dependencies that use the `dev-master` version, or put the `minimum-stability` option to `dev` (it's the standard behavior of Composer).

[2015-01-07 19:38] santehnick opened #88 "npm-asset/socket.io issue"
composer require npm-asset/socket.io:1.2.1

[ErrorException]
Undefined index: repository

I deleted a vendor directory, but this not decided my problem.

https://www.npmjs.com/package/socket.io

[2015-01-07 20:00] francoispluchino commented on #88
I suppose that you don't use the last version (beta 4 or dev) of this plugin.

[2015-01-08 03:01] jasonrichardsmith commented on #87
Thank you!  As a heads up, from your input I created these install instructions which seem to work fine for  me.
https://github.com/jasonrichardsmith/mongular/wiki/Installation

[2015-01-08 09:28] #87 closed

[2015-01-08 09:40] francoispluchino commented on #88
With the last version, you will have an exception because this dependency required 2 version of the same package (debug [1.0.2, 0.7.4]. Composer is not able to handle this case.

For NPM, only the simple dependencies can be managed with this plugin, on the other hand, for Bower, all dependencies can be managed.

[2015-01-08 09:40] #88 closed

[2015-01-09 11:21] harshitj2005 opened #89 "Composer\Repository\Repository SecurityException"
hi,

i have been trying to use yii2 framework by installing it through composer which require to use composer-asset-plugin. i have used the command composer global require "fxp/composer-asset-plugin:1.0.0-beta4" but its genetating this error Composer\Repository\Repository SecurityException
The contents of http://packagist.org/p/fxp/composer-asset-plugin$some no.json do not match its signature.

[2015-01-09 12:02] francoispluchino commented on #89
Check your PHP configuration (open ssl, because Composer uses HTTP and not HTTPS).

**Example with Windows 8.1 x64 and PHP 5.6:**

[code]

[2015-01-09 12:11] harshitj2005 commented on #89
my PC config are windows 7 64bit and php is  5.4.27
and the ssl config is

OpenSSL support	enabled
OpenSSL Library Version	OpenSSL 0.9.8y 5 Feb 2013
OpenSSL Header Version	OpenSSL 0.9.8y 5 Feb 2013

so tell me whether my PC is can support to this or not.?

[2015-01-09 12:19] francoispluchino commented on #89
Is that OpenSSL is enabled in your `php.ini` file?

[code]

[2015-01-09 12:23] harshitj2005 commented on #89
yes...

[2015-01-09 12:32] francoispluchino commented on #89
I think it's best to ask directly to the lead developers of Composer. See the issues composer/composer#3615 and composer/composer#3616.

[2015-01-09 12:44] harshitj2005 commented on #89
thanq for referencing to lead developers. lets hope they will be able to get my query solved.

[2015-01-09 12:47] #89 closed

[2015-01-19 10:59] hashie5 opened #90 "'.' in package name not working"
I tried installing circletype
https://github.com/peterhry/CircleType

"bower-asset/circletype.js": "@stable"

But the plugin can't handle the `.` in the name

[2015-01-19 11:05] francoispluchino commented on #90
CircleType has not a stable version, but only master branch.

You must use the dev flag `@dev`:

[code]

[2015-01-19 11:10] francoispluchino commented on #90
Of course, you can use a `dev-master` version:

[code]

[2015-01-19 15:05] hashie5 commented on #90
this is working! thanks

[2015-01-19 15:05] #90 closed

[2015-01-20 16:37] philippfrenzel opened #91 "bower package not getting "installed""
Hi,

I try to install the bower package "fullcalendar" which works fine by using the commandline, but in combination with yii2 and your extension, it only creates an empty folder without any files inside?

Do you have an idea why this could happen? no case sensitive reasons...

Thanks Phil

[2015-01-20 16:39] francoispluchino commented on #91
Do you used the last versions of Composer and plugin (`dev`)?

[2015-01-20 16:41] philippfrenzel commented on #91
yes

[2015-01-20 16:43] francoispluchino commented on #91
Can you give me your `composer.json` file? Because this bug is fixed by the issue #58.

[2015-01-20 16:47] philippfrenzel commented on #91
ok, one sec
{
	"name": "philippfrenzel/yii2fullcalendar",
	"description": "Yii2 fullcalendar Widgets",
	"keywords": ["yii2", "fullcalendar"],
	"homepage": "http://www.frenzel.net/",
	"type": "yii2-extension",
	"license": "MIT License",
	"authors": [
		{
			"name": "Philipp Frenzel",
			"email": "philipp@frenzel.net",
			"homepage": "http://www.frenzel.net/",
			"role": "Author Version Yii2"
		}
	]

[2015-01-20 16:54] francoispluchino commented on #91
I just tested, and everything is OK.

Update your Composer:
[code]
and the plugin:
[code]

And it should be good.

[2015-01-20 17:04] philippfrenzel commented on #91
sorry still not working... thanks for support -> did all you said:

![screenshot 2015-01-20 18 03 47](https://cloud.githubusercontent.com/assets/2319890/5821750/bce8533e-a0ce-11e4-8735-f9039bdfd5d3.png)

[2015-01-20 17:05] philippfrenzel commented on #91
the funny thing is, that moment.js is working fine as it comes from the same "reference" file?...

[2015-01-20 17:06] francoispluchino commented on #91
Try with remove your vendor directory and relaunch `composer install`.

[2015-01-20 23:09] philippfrenzel commented on #91
Works After a complete delete!;) thanks!

[2015-01-21 08:01] #91 closed

[2015-01-23 17:47] davidsonalencar opened #92 "Invalid version string on composer installation"
I tried installing with the animate.css package and not work.

Error message:

[code]

My composer.json:

[code]

bower.json file of the https://github.com/daneden/animate.css

[code]

It's not work because of the "~"?

[2015-01-24 10:59] francoispluchino commented on #92
Fixed by a54431994e8524dc09730e7985a9d7c9a9d636c0.

[2015-01-24 11:00] #92 closed

[2015-01-24 17:41] davidsonalencar commented on #92
Thanks!

[2015-01-25 13:16] francoispluchino opened #93 "Use Nodejs for Bower and NPM"
### Problem context

I know that you like this plugin to manage the Assets in a PHP project, because it only uses PHP, but there are still constraints (composer/composer#3082, #70, #75, slow RemoteFileSystem) that can not be resolved easily and quickly (or not). Of course, there are still technical solutions to overcome the problems, but it still remains the coutournements.
- For the PR #3082, we

[2015-02-07 12:34] sevenT opened #94 "Could I not update all the packages from bower when i only want update single composer package"
Could I not update all the packages from bower when i only want update single composer package ?

[2015-02-07 12:37] francoispluchino commented on #94
Alas no, Composer retrieves a complete list of all packages. This is the native behavior of Composer.

[2015-02-07 12:51] cebe commented on #94
`composer update myvendor/mypackage` ?

[2015-02-07 12:56] francoispluchino commented on #94
Yes, in internal, Composer retrieves always all package definitions... even for a single package. In view of the previous discussions, I do not think it will change quickly.

[2015-02-07 18:09] SDKiller commented on #94
Confirm, had the similar issue.

@francoispluchino

May be offtopic, but related to https://github.com/francoispluchino/composer-asset-plugin/issues/93 and many `composer` issues not solved and `nice-to-have` proposals still not implemented - don't you think it's time to fork `composer` ? ;-)

[2015-02-08 06:31] sevenT commented on #94
@cebe that's exact what i did to update my local package.
@francoispluchino Thanks for this awesome project.
It seems like a composer problem. The awful internet of CHN really drive me crazy.

[2015-02-08 06:32] #94 closed

[2015-02-08 17:18] cebe commented on #94
@sevenT there is a local composer cache, when you use that you might need to download each package only once: https://toranproxy.com/

[2015-02-09 12:18] sevenT commented on #94
Thanks @cebe  we've build up a local cache with satis, but only for php package. It still try to download extra asset packages. Maybe I should try to cache bower packages as well, I'll try this later when i got time and getting more familiar with how all these things work.  Many Thanks

[2015-02-10 10:22] dynasource commented on #94
Im a really heavy use of "composer update myvendor/mypackage" but this isnt possible anymore, although it is still supported (see https://github.com/composer/composer/issues/450)

Is this issue solved by https://github.com/francoispluchino/composer-asset-plugin/issues/93?

[2015-02-10 10:32] francoispluchino commented on #94
@dynasource This could be fixed by this issue.

[2015-02-10 15:50] dynasource commented on #94
Excellent! Whats left to do to benefit from your patch?
thanks

[2015-02-10 15:53] francoispluchino commented on #94
I must develop the new version 2.0 that used Nodejs. So for the moment this is not available.

[2015-02-11 09:51] nsams commented on #94
Or you use https://github.com/koala-framework/composer-extra-assets which available now.

[2015-02-11 09:52] francoispluchino commented on #94
@nsams It is also a solution.

[2015-02-11 15:51] nkovacs opened #95 "Tilde operator conversion"
According to [bower/npm](https://github.com/npm/node-semver#tilde-ranges-123-12-1)

~1 := >=1.0.0 <(1+1).0.0 := >=1.0.0 <2.0.0 (Same as 1.x)

But composer interprets ~1 as >=1 < 1.1

[2015-02-11 15:57] nkovacs commented on #95
Also:
Bower: ~1.2 := >=1.2.0 <1.(2+1).0 := >=1.2.0 <1.3.0 (Same as 1.2.x)
Composer ~1.2 = >=1.2 < 2.0

[2015-02-11 16:05] nkovacs commented on #95
I was using beta4, this has been fixed in master

[2015-02-11 16:05] #95 closed

[2015-02-11 16:07] francoispluchino commented on #95
@nkovacs A stable version [1.0.0](https://github.com/francoispluchino/composer-asset-plugin/releases/tag/v1.0.0) is available.

[2015-02-16 08:42] philippfrenzel opened #96 "failing deps because of version syntax"
Failed deps because of version syntax...
[code]

[2015-02-16 08:51] francoispluchino commented on #96
Do you use le latest stable version (`1.0.0`)?

Because I haven't problem with this version:

[code]

[code]

It could perhaps help you: [Composer throws an exception stating that the version does not exist](https://github.com/francoispluchino/composer-asset-plugin/blob/1.0/Resources/doc/faqs.md#composer-throws-an-exception-stating-that-the-version-does-not-exist)

[2015-02-16 09:23] philippfrenzel commented on #96
https://travis-ci.org/philippfrenzel/yii2masonry

I use 1.0.0

[2015-02-16 09:27] francoispluchino commented on #96
Your job https://travis-ci.org/philippfrenzel/yii2masonry/jobs/50737152 is passed correctly for the Composer installation.

[2015-02-16 09:51] philippfrenzel commented on #96
hmm...
https://travis-ci.org/philippfrenzel/yii2masonry/builds/50913492

failed... which is the latest...

[2015-02-16 09:52] philippfrenzel commented on #96
and same config an test works for the fullcalender extension

[2015-02-16 10:06] francoispluchino commented on #96
For PHP, Composer goes successfully, but your tests, no:

[code]

For HHVM, yes, there is any problem for you. All unit tests on HHVM for the plugin successfully passes on Travis, however, I currently have no machine on linux for testing on HHVM in locally.

So if you find the solution, I'd be happy to merge your PR.

[2015-02-18 18:17] mbman opened #97 "Releases without the "v" prefix not recognized"
https://github.com/vitalets/angular-xeditable/releases shows the latest release being "0.1.8" (note the lack of "v" prefix) and I set the dependecy to: `"bower-asset/angular-xeditable": "0.1.8"` it fails with "not found in any version" error. If  `"bower-asset/angular-xeditable": "*"` is used in composer.json it finds a proper version, but often gets into memory limit problems on update.

Why isn'

[2015-02-18 18:34] francoispluchino commented on #97
Do you use the latest stable version?

Because, I just do the test, and it's good for me:

[code]

I guess this is not the case, because you import all versions of AngularJs, whereas with the stable version, the plugin does not import `build` versions.

To prevent the importation of all versions, read the doc [How to reduce the number of requests for getting the package definitions?](https://githu

[2015-02-18 18:44] mbman commented on #97
Using the latest stable version, works well with `--prefer-dist`. Thanks

[2015-02-18 18:44] #97 closed

[2015-02-19 11:37] mbman opened #98 "Ignore files eror"
https://github.com/homerjam/angular-ui-router-anim-in-out/blob/master/bower.json shows the css and scss files from their directories not to be removed, but they're removed after install. If I set the ignore list to this, it works:

[code]

[2015-02-20 13:57] SDKiller opened #99 "Installing 'bower' asset results installing it also as 'composer' package"
Try

[code]

This package has also `composer.json` with dependencies (which also have dependencies).

Expected to see:
[code]

Got instead not only installation to `bower` directory but also installation as `composer` package with all dependencies and creation of `component` folder:

![qip shot - screen 568 20 02 15](https://cloud.githubusercontent.com/assets/2150916/6287236/3020fed6-b921-11e4-90d

[2015-02-20 14:20] SDKiller commented on #99
Ah, sorry.
Another extension required it as `composer` package via 3rd -party dependency.

Dependency hell ;)

[2015-02-20 14:20] #99 closed

[2015-03-04 18:08] moufmouf commented on #93
Hi François,

Believe me, I completely understand your disappointment. I started using *composer-asset-plugin* and had already included it in the Mouf framework ([automatic detection of included Bower JS and CSS file in your project based on your library](http://mouf-php.com/packages/mouf/html.utils.weblibrarymanager/README.md)).

Anyway, I followed closely the issue with the Composer solver in pr

[2015-03-05 14:42] francoispluchino commented on #93
@moufmouf Currently, I have not started the development of the `2.0` branch (apart from some doc changes, the `2.0` version is the `1.0.0` version).

Alas, I cannot give you a release date for the `2.0` version, because I am very busy now, and so I do not have planned the work.

Thank you for your proposal, and any help is welcome. There are several tasks to do, including one that allows to verify

[2015-03-05 18:28] nsams commented on #93
@moufmouf as alternative you might want to have a look at this plugin that uses native npm+bower: https://github.com/koala-framework/composer-extra-assets

We are using it in production for some time now and are quite happy with it.

[2015-03-06 17:56] moufmouf commented on #93
@nsams Thanks for pointing to your package! It looks your plugin does indeed a part of what @francoispluchino is trying to achieve. But it requires NodeJS to be installed first.
I've started working on a composer plugin that installs NodeJS & NPM locally if they are not available globally, just like @francoispluchino exposed above.
Using this plugin with your *composer-extra-assets* package, we mi

[2015-03-08 09:01] nsams commented on #93
@moufmouf feel free to create pull requests (we can include the local nodejs installation in composer-extra-assets)

[2015-03-09 14:16] moufmouf commented on #93
And here we go with a first test release:
  https://packagist.org/packages/mouf/nodejs-installer

It is working on Linux and Windows. I haven't tested MacOS yet.

@nsams I did not made a pull-request. Instead, I put the NodeJS installer in a separate package because some people might want to use Node in their PHP project for other things than asset management (for instance for websockets).

Do not

[2015-03-09 15:40] nsams commented on #93
@moufmouf looking very promising! And yes - you are right - absolutely makes sense as separate package. Once the package is stable I'll look into integrating it to composer-extra-assets.

[2015-03-09 16:48] francoispluchino commented on #93
@moufmouf @nsams If you wish to contribute to the `2.0` version of this plugin, I thank you in advance, but if this is not the case, please, do not use this issue for your own repositories.

I personally think it would be more interesting to work together, instead of work on separate projects for the same features.

Regarding the approach of @nsams, I find it unfortunate to use nodejs and not havi

[2015-03-10 07:11] nsams commented on #93
Sorry for hijacking this thread!

I think using composer.json for bower dependencies makes sense as they have to be merged. And merging multiple bower.json files (execept the dependencies) isn't straight forward. Additionally it's not possible to create a bower.json in the root package containing all merged dependencies - where you can operate on using bower commands (We use it for `bower link`)

[2015-03-10 09:41] moufmouf commented on #93
@francoispluchino Sorry, I really did not mean to highjack this thread. I asked what needed to be done to get 2.0 moving forward, you told me:

So I started working on a "Nodejs installer". Ok, I put it in a separate package but this is because I feel this could be used for other purposes than asset management, and therefore, that it deserves to be in its own package. But feel free to grab the cod

[2015-03-18 14:41] marcinskubala opened #100 "UnexpectedValueException - checksum mismatch"
Hi, I have problem with installing underscore package. I tried clean-cache command but it didn't help.

Reading bower.json of bower-asset/underscore (1.8.2)
Reading bower.json of bower-asset/underscore (1.8.1)
Reading bower.json of bower-asset/underscore (1.8.0)
  - Installing npm-asset/underscore (1.8.2)
    Downloading: connection...
    Downloading: 0%
    Downloading: 25%
    Downloading: 45%

[2015-03-18 14:44] francoispluchino commented on #100
Do you use the stable version `1.0.0`?

[2015-03-18 14:48] marcinskubala commented on #100
Yes I use stable version "fxp/composer-asset-plugin:1.0.0".

[2015-03-18 15:00] francoispluchino commented on #100
You have a `bower-asset/underscore` dependency, but it's the `npm-asset/underscore` dependency that is installed, it's strange... Can you give me your composer.json file?

I just did a test with:

[code]

And it's good for me:

[code]

[2015-03-18 15:06] marcinskubala commented on #100
Strange, my composer.json file:

[code]

[2015-03-18 15:20] francoispluchino commented on #100
I suggest you to use the Bower dependency with `bower-asset/underscore`, and not NPM (because the support was added for packages with simple dependencies that are not added in the Bower registry).

[2015-03-18 15:34] marcinskubala commented on #100
Thanks, the bower-asset/underscore works fine but ultimately I'm trying to install a npm-asset/apidoc package which contains the "npm-asset/underscore" in dependencies. Is there any option to install it?

[2015-03-19 14:25] SoulCover opened #101 "'Invalid version string "tap"' in "npm-asset/save-pixels""
Just stumbled upon your ingenious project and wanted to try it out with an existing Typo3 Flow project. Unfortunately while checking dependencies the following exception is thrown by composer:
[code]
Luckily I could find the culprit. I made a new empty directory and just required `npm-asset/save-pixels` (\*). Same exception. Their package.json is [over here](https://github.com/scijs/save-pixels/bl

[2015-03-19 14:48] SoulCover commented on #101
`npm info save-pixels` gives me this btw:
[code]

[2015-03-20 08:54] francoispluchino commented on #101
It's a bug, see `https://registry.npmjs.org/save-pixels`.

There is a special version in devDependencies section:

[code]

[2015-03-20 10:30] francoispluchino commented on #101
Fixed by dc24e6280386d1e43be50c9459f6ca8f80965a4a.

[2015-03-20 10:30] #101 closed

[2015-04-01 05:38] githubjeka opened #102 "Order of indicating packages"
When composer.json have only:
[code]
then
[code]

When
[code]
then all works fine.

Is the ordering of packages is important?

[2015-04-01 05:40] githubjeka commented on #102
[code]
work fine too. Without `<default` dosen't work.

[2015-04-01 07:11] francoispluchino commented on #102
Normally no, Composer has not a order of dependencies. I'll look when I have 5 minutes.

[2015-04-02 18:42] damiandennis opened #103 "Incredibly slow on single package update."
I am only trying to update a single package. i.e

[code]

but when I run this in debug mode as above its doing a check through every npm-asset and every bower-asset and this package has no such dependencies.

[code]

[2015-04-02 18:45] damiandennis commented on #103
Sometimes it takes like 30 minutes to go through all assets which is way to slow when updating a single package.

[2015-04-03 08:11] francoispluchino commented on #103
The plugin creates only the VCS repositories automatically. Load all package definitions is a native behavior of Composer, even if you want to update only one package, and unfortunately it's not going to change... (see the various discussions on [composer/composer/issues](https://github.com/composer/composer/issues)).

To reduce the number of requests, I suggest you read : [How to reduce the numbe

[2015-04-03 08:58] damiandennis commented on #103
Hmm that seems like you are not even going to try, looking through the code I can see how you could optimize and not do a lookup on every package when updating a single package, maybe I am wrong walking through the steps in xdebug I can see that it is possible with a little bit of work. If I submit a fix will you merge it?

[2015-04-03 09:11] damiandennis commented on #103
even an argument to disable your plugin from doing what it does when you know that a package you are updating has no assets. This would save a lot of time on installing packages that do not have any asset dependencies.

[2015-04-03 09:14] francoispluchino commented on #103
If you have an optimization, I'm interested, make a PR. Now, there is a cache system, but the requests for getting the list of tags and branches are always executed (native behavior of Composer). Cache this list is problematic, because the VCS repository will get the local version, not the version updated.

[2015-04-03 09:15] francoispluchino commented on #103
If I do not include repositories (your deactivation), the Solver SAT will consider that the package should be removed.

[2015-04-03 10:06] damiandennis commented on #103
I see what you mean, very restrictive on what a plugin is capable of doing in composer. Especially when its all getters and no setters and the properties are all private or protected.

[2015-04-03 10:19] francoispluchino commented on #103
Yes... They do not seek to improve the Solver SAT for VCS Repositories, because the main use is with Packagist or Satis (that directly transmits all configs). Which is not the case for Bower eg, that fully utilizes the analysis of repositories (with GIT), and the registry to only get the URL of the repository.

Given that there is a blockage on this subject with the guys of Composer, I'd rather ju

[2015-04-06 09:51] #103 closed

[2015-04-07 13:47] stepanselyuk opened #104 "Issue with package "bower-asset/screenfull""
Hi there!
I have issue with package `bower-asset/screenfull` - no `dist` folder in package.

`bower.json` details:
[code]

Seems issue with `**/*`. Can you fix behavior of the plugin for such `ignore`?

[2015-04-07 13:53] francoispluchino commented on #104
You can temporarily disable or change the cleaning rule, read [Disable or replace the deleting of the ignore files for Bower](https://github.com/francoispluchino/composer-asset-plugin/blob/1.0/Resources/doc/index.md#disable-or-replace-the-deleting-of-the-ignore-files-for-bower).

If you create an PR, it will be quickly merged.

[2015-04-07 14:23] stepanselyuk commented on #104
Thanks!

[2015-04-15 00:06] stepanselyuk opened #105 "It is possible not get updates for packages if it was updated less 1 hour ago?"
Hello!
It is possible not get updates for packages if it was updated less 1 hour ago?

Example: I have over 150 bower packages in composer.json and every update take about 20 minutes. When I got an error, example for bad dependence, I need to start again I wait other 20 minutes, when composer/plugin get new headers and so on. How set to not touch already updated packages less sometime ago?

Thanks

[2015-04-15 00:33] stepanselyuk opened #106 "How to miss some dependencies check for some package?"
Hello,

I have example:
`bower-asset/mjolnic-bootstrap-colorpicker` which has dependency `jquery: '^1.10'`, but I use `jquery
2.x`. There is way to miss some deps?

Example 2:
`bower-asset/bootstrap3-wysihtml5-bower` has dependency `wysihtml5x: '0.4.13'`, but actual version `0.4.17`, so `bootstrap3-wysihtml5-bower` not updated for a long time.

Of course I can fork repositories and make some fixes

[2015-04-15 00:47] stepanselyuk commented on #106
About second issue, I found its new branch, not default `master`.

[2015-04-15 00:49] stepanselyuk commented on #106
I've read
[code]
But it worked for me once... seems it is really X.Y.Z, mean not `\d+`, because it is worked for `jquery-1.9.1`, but not for `jquery-1.10.x` or `wysihtml5x-0.4.13`...

[2015-04-15 07:49] francoispluchino commented on #105
It's possible, but if this list is cached, it will be problematic, because the VCS repository will get the local version, not the version updated during 1 hour. It would be more interesting to create a configuration in an external file (and not in composer.json extra section).

[2015-04-15 07:58] francoispluchino commented on #106
It's not possible to miss some dependencies, and it's not recommended, However, did you try to replace the repository with your own definition of Composer package in `repositories` section and not `extra.asset-repositories`? See [doc of Composer repository package definition](https://getcomposer.org/doc/05-repositories.md#packages).

Regarding your second question, yes, it only works with a intege

[2015-04-15 13:15] stepanselyuk commented on #106
Hello, I meant the plugin works with a single integer, ex. `0.9.1`, but not working with `1.10.2`. May be you can create something like pre-processor interface? Mean we'll can specify custom pre-processor class (with implemented interface methods) for some packages in extra section. In this case we will can change the package definition, dependencies on the fly.

[code]

[2015-04-15 13:27] francoispluchino commented on #106
If I had to implement your proposal, I will use rather the Event Dispatcher and use a extra config in the root Composer package:

**Example :**
[code]

This is only a proposal...

Otherwise, can you give me an example of composer.json file for the bug between versions `0.9.1` and `1.10.2`?

[2015-04-15 13:45] stepanselyuk commented on #106
[code]
[code]
[code]
[code]

[2015-04-15 13:59] francoispluchino commented on #106
This is what I mentioned in my [previous comment](https://github.com/francoispluchino/composer-asset-plugin/issues/106#issuecomment-93250572), you must use a full version, not a version with wildcards (`x` or `*`).

[2015-04-15 14:04] stepanselyuk commented on #106
With
[code]
the same issue, but pay attention, I changed `1.9.1` to `1.9.x`...

[2015-04-15 14:05] francoispluchino commented on #106
And it goes properly with `bower-asset/jquery-1.9.x`?

[2015-04-15 14:06] stepanselyuk commented on #106
yup, it is working for `bower-asset/jquery-backstretch`, which required `jquery ~1.9.1`.

[2015-04-15 14:13] stepanselyuk commented on #106
Working:
[code]
Not working:
[code]

[2015-04-15 14:15] francoispluchino commented on #106
Ok, in this case, it's a bug. Can you create a specific issue with these 2 examples?

[2015-04-15 14:20] stepanselyuk commented on #106
yup, of course.

[2015-04-15 14:25] stepanselyuk opened #107 "Issue with resolving dependencies for packages in format 'jquery-X.YY.Z'."
Hello,
I found issue:

Working:
[code]

Not working:
[code]

This means the plugin can load both `jquery-1.9.x` and `jquery-1.10.2` or `jquery-1.10.x`, but can't resolve dependencies for `bower-asset/mjolnic-bootstrap-colorpicker` which required `jquery ^1.10`

We talked about this issue in #106.

[2015-04-15 14:27] francoispluchino commented on #106
This issue can be closed?

[2015-04-15 14:28] stepanselyuk commented on #106
Yes, this issue just for an idea, how to control and modify packages on the fly.

[2015-04-15 14:28] #106 closed

[2015-04-17 01:28] ywarnier opened #109 "Problem with travis-ci automated testing updating assets"
Hi, I'm trying to get my head around this issue for some time now.
We are using composer-asset-plugin to fetch libraries in the Bower list from our project chamilo/chamilo-lms. When running composer update by hand, we sometimes have the following issue:
[code]
(with more than 10 "problems" in total).

The inconvenience is somewhat reduced here by the use of the composer cache, which is nice.

Our

[2015-04-17 09:17] francoispluchino commented on #109
It's better to specify the precise stable version (`X.Y.Z`) and not use the `@stable` flag only, because in this case, Composer will get all stable versions for each package (and the plugin will not perform filtering upstream). You can read the FAQs [How to reduce the number of requests for getting the package definitions?](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Reso

[2015-04-17 09:18] francoispluchino commented on #109
Concerning your first problem, read the FAQs [Composer throws an exception stating that the version does not exist](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/faqs.md#composer-throws-an-exception-stating-that-the-version-does-not-exist).

[2015-04-17 09:20] francoispluchino commented on #96
I guess everything is OK now.

[2015-04-17 09:20] #96 closed

[2015-04-17 09:22] #100 closed

[2015-04-17 14:06] cebe commented on #109
@ywarnier you should install the composer asset plugin in .travis.yml:
https://github.com/chamilo/chamilo-lms/blob/1.10.x/.travis.yml#L16
add this before you do composer install:

	composer global require "fxp/composer-asset-plugin:1.0.0"

[2015-04-17 20:23] ywarnier commented on #109
Great, thank you @cebe. The global installation trick worked for travis-ci!

[2015-04-17 20:29] francoispluchino commented on #109
@ywarnier Is that this issue can be closed?

[2015-04-17 21:57] ywarnier commented on #109
Yes, thank you. I didn't realize I could close it myself, ups. Here you go

[2015-04-17 21:57] #109 closed

[2015-04-19 21:21] demisang commented on #58
I have the same problem, was solved by **removing** the folder **"/vendor"** and **"composer.lock"** file, then ```composer update```

[2015-04-20 14:25] lichunqiang opened #110 "Error occured when update"
The error message is :
[code]

[2015-04-20 14:29] francoispluchino commented on #110
Do you use the last stable version of this plugin (`1.0.0`) and the last dev version of Composer?

[2015-04-20 14:52] lichunqiang commented on #110
the composer is
[code]
and the plugin is:
1.0.0-beta4

Should i update the plugin?

[2015-04-20 14:56] francoispluchino commented on #110
Oh yes, you will must use the last stable version!

[2015-04-20 14:58] lichunqiang commented on #110
It works!

Thanks

[2015-04-20 14:58] #110 closed

[2015-05-05 15:03] githubjeka opened #111 "Is it possible to hack?"
Now, many packages are arranged in bower.io(npmjs) and in https://packagist.org (here and there).
Index for bower packages too slow. Perhaps not build an index on Bower.io, and transfer to extraction on packagist.org.

Is it possible?

[2015-05-05 15:14] francoispluchino commented on #111
Alas, it's not possible, and it's not recommended to merge the two registries. To build an index of over 86,000 repositories, we must regularly analyze all repositories, and and the limit of number of API request for Github will very quickly exceeded (5 000/hours with token)...

An optimization must be performed in the `RemoteFileSystem` of Composer (composer/composer#3282), but it's not on the ag

[2015-05-06 20:05] damiandennis opened #112 "fatal: Unable to find remote helper for 'git+https'"
Currently getting this error when running an update:
[code]
its coming from this npm: https://registry.npmjs.org/jsdom which is a dependency on jquery.
this is also a dependency on the yii project and I am unable to change the repo.
I tried it using npm and it works fine.
https://docs.npmjs.com/cli/install refers to git+https as valid.

[2015-05-08 15:59] alexandernst commented on #112
I'm getting this for `angular-toastr` in npmjs.com.

[2015-05-08 19:29] #111 closed

[2015-05-12 15:55] alexandernst commented on #112
Got it! It turns out I was using the assets plugin in a wrong way. Check [this](http://stackoverflow.com/questions/30128665/unable-to-find-remote-helper-for-githttps/30195382#30195382)

Anyways, maybe this plugin should handle such situations.

[2015-05-12 16:00] francoispluchino commented on #112
`git+https` format is not supported actually. But, yes, we should support this repository type.

[2015-05-12 22:40] wangchj opened #113 "extra/asset-repositories ignored?"
Why am I getting the following error when I run `composer update`?

[code]

The following is my `composer.json`

[code]

[2015-05-13 08:15] francoispluchino commented on #113
You can find more details in the FAQ: [Composer throws an exception stating that the version does not exist](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/faqs.md#composer-throws-an-exception-stating-that-the-version-does-not-exist).

[2015-05-13 09:59] francoispluchino commented on #113
You can check your asset-repositories if they are really used with the `-v` command option.

[2015-05-13 16:00] wangchj commented on #113
I used `composer -vvv update` and it appear that composer is downloading from the correct repository. I wonder if there is something wrong with `bower.json` of the Datejs repository, which is below.

[code]

[2015-05-13 16:03] francoispluchino commented on #113
Are you using the latest stable version (`1.0.1`) of the plugin?

[2015-05-13 16:15] wangchj commented on #113
I checked `~/.composer/composer.json` it appears that I am using version `fxp/composer-asset-plugin 1.0.0`. Can I modify this file and run an update to get the latest version?

[2015-05-13 16:27] francoispluchino commented on #113
You can use this command:

[code]

[2015-05-13 16:33] wangchj commented on #113
I update the plugin and still getting the same error.

[2015-05-13 16:35] francoispluchino commented on #113
Have you tested the solution in the FAQ: [Composer throws an exception stating that the version does not exist](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/faqs.md#composer-throws-an-exception-stating-that-the-version-does-not-exist)?

[2015-05-13 16:50] wangchj commented on #113
Yes:
For option 1 which is just remove `app/vendor` and ran update. Didn't work.
For option 2, I don't think I have any import filter in the `extra` section, but I added the following:
[code]
I didn't try option 3 because I don't know what is the root Composer package.

[2015-05-13 16:52] francoispluchino commented on #113
The composer.json file of your project.

[2015-05-13 20:47] wangchj commented on #113
For option 3, "bower-asset/datejs" was already in the `require` section in the `composer.json` of my project, and I added `"asset-optimize-with-conjunctive": false` to the `extra` section. Datejs doesn't have dependencies.

[2015-05-14 10:18] francoispluchino commented on #113
I just test again, but adding your repository, because there is another package with the same name. And I see that there is no version `stable`, `beta`, `alpha` (in tags). In this case, you must put the flag `@dev` or directly use the development branch `dev-master` (this is the standard behavior of Composer).

[code]

[2015-05-14 18:45] wangchj commented on #113
I see because there is another Bower package with the same name, there is no way I can use my repository without `@dev` as version, even I have an `alpha` tag in my repository, which I have added.

[2015-05-14 18:56] francoispluchino commented on #113
For your tags, you must used the semver format (http://semver.org), and therefore, for your package: `v1.0.0-alpha.1` and not `alpha-1`.

In your composer.json file, the minmum flag are required, by default, it's the flag `@stable`.

In your root composer.json file, you can use `minimum-stability` and `prefer-stable` properties (https://getcomposer.org/doc/04-schema.md#minimum-stability) to avoid

[2015-05-14 20:42] wangchj commented on #113
I updated the tag in my git repository to `1.0.0-alpha.1` and it's now working. Maybe we should add to the documentation of this plug-in that the tags are required. Thank you so much for the help. Btw, what does `fxp` stand for?

[2015-05-14 20:48] francoispluchino commented on #113
Sorry, I didn't understand your last question. Want to know the meaning of ‘FXP‘?

[2015-05-14 21:08] wangchj commented on #113
When installing the plugin, we have to run `composer global require fxp/composer-asset-plugin:1.0.1`. I'm just curious what fxp is.

[2015-05-14 21:18] francoispluchino commented on #113
Ok, no problem! It's that simple, it's my initials: François Xavier Pluchino

[2015-05-14 21:28] wangchj commented on #113
That makes sense. Thanks.

[2015-05-15 09:50] francoispluchino commented on #113
Is what we can close this issue?

[2015-05-15 16:47] wangchj commented on #113
I've created a pull request for this for documentation change.

[2015-05-15 16:47] #113 closed

[2015-05-19 05:00] schmunk42 opened #115 "Problems resolving dependencies, when new releases without version prefix have been added"
I am experiencing `composer update` issues with a certain `bower-asset` plugin.

[code]

While not having any of the usual problems, I noticed this:

[code]

There's a `0.11.1` tag in the versions list.

Could it be that this tag makes the asset-plugin stop scanning tags with `v` prefix?

I tried to fix this by using an alias, but this one does **not** work:

[code]

This one worked:

[code]

Rela

[2015-05-19 07:55] francoispluchino commented on #115
I use your [constraint of dependency](https://github.com/yiisoft/yii2-gii/blob/master/composer.json#L25) for do the tests (install and install+update), and the 2 tests are passed with successfully:

### Install test:

[code]
[code]

### Update test:

[code]
[code]

Update:
[code]
[code]

The tag versions with `v` prefix or without prefix are scanned, it's the standard behavior of Composer. Do you

[2015-05-19 18:29] schmunk42 opened #116 "Proposal: Cache timestamp value to shorten composer updates"
While looking at the verbose output of `composer update` I came across an idea to shorten download time and I'd like to hear your thoughts about it.

This is the output of an asset package update:

[code]

The [first URL](https://api.github.com/repos/twbs/bootstrap) contains a JSON response with `updated_at` and `pushed_at`.

[code]

At the moment the plugin always queries the four URLs afterwards

[2015-05-19 18:36] francoispluchino commented on #116
It was part of my leads to improve performance, but alas, this is the case only after the first run. So yes, I'm interested for the development of this feature.

[2015-05-19 18:43] SDKiller commented on #116
:+1:
Great idea.

But as for `updated_at` - if you look at repo's 'Last updated' in Github web interface - I suppose it is something virtual, it probably can be the date of last issue creation, or milestone modification or any other activity - not only commits.

Maybe `pushed_at` is worth investigation.

[2015-05-19 18:50] francoispluchino commented on #116
We must consider the creation of tags and branchs, so I don't know if `pushed_at` is sufficient.

[2015-05-19 18:51] schmunk42 commented on #116
If an update to tags is reflected in `pushed_at` along with changes made through the web-interface, we'd be good to go, I think.
I haven't investigated BitBucket or other APIs, but even GitHub only would be a great start.

Where is the point in the code, where this should be implemented?
I am not experienced with Symfony Apps, speaking in Yii terms, I'd create a `cacheDependency` and store the fir

[2015-05-19 18:52] francoispluchino commented on #116
@schmunk42 here: https://github.com/francoispluchino/composer-asset-plugin/blob/master/Repository/Vcs/GitHubDriver.php

[2015-05-19 18:58] schmunk42 commented on #116
pushed_at looks good so far:

https://api.github.com/repos/schmunk42/github-api-tests

[code]

Anything else to test?

[2015-05-19 19:01] francoispluchino commented on #116
- Create/Rename/Delete branches
- Create/Rename/Delete tags

[2015-05-19 19:05] schmunk42 commented on #116
[code]

[2015-05-19 19:07] schmunk42 commented on #116
What's about the `infoCache` [here](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Repository/Vcs/GitHubDriver.php#L33)?

Shouldn't it be already cached? Or is the cache not persistent between composer update runs?

From looking at the code I don't understand why there's one round (of five) requests made, but older tag seem to be cached correctly.

[2015-05-19 19:22] francoispluchino commented on #116
`$this->infoCache`: it's a execution cache, not a file cache. The list of branches and tags are not cached in file system, but only in execution. But each file of json packages are retrieved and are cached on file system.

[2015-05-19 19:28] francoispluchino commented on #116
Also, the content of root package json file is not cached on file system, because it can change, but with your proposal, we can put the content of root package in the cache.

[2015-05-19 19:55] schmunk42 commented on #115
Fixed for me. The only thing that worked in the end was removing my entire `vendor` folder.

Before that I tried to update the plugin, removed lock-file, removed all composer caches(!), removed all bower packages and gii. Did not help - just for reference.

[2015-05-19 19:55] #115 closed

[2015-05-22 09:08] SamMousa opened #117 "Add service locater for configuration."
Currently it is hard for third party code to locate the directory where assets are stored.

If my composer packge which uses a bower package is included by another composer package, how can I determine where my assets will be?

It would be great if we could determine the asset location from within PHP (efficiently).

Some possible solutions that come to mind:
- Create a php file that is added to t

[2015-05-22 09:17] francoispluchino commented on #117
I developed a component and a Symfony2 Bundle to solve this problem:
- [fxp/require-asset](https://github.com/francoispluchino/fxp-require-asset)
- [fxp/require-asset-bundle](https://github.com/francoispluchino/FxpRequireAssetBundle)

[2015-05-22 09:20] SamMousa commented on #117
It looks good, but often a lot of frameworks have their asset managers already.
Also this looks overkill for someone who just wants to know where the asset files are being copied to, right?

According to the documentation for require-asset there still needs to be configuration set. (There are things in the docs like __DIR__ . '/vendor')
But if my library is not the root composer package I will not

[2015-05-22 09:43] francoispluchino commented on #117
It is true that the component is too evolved to simply retrieve the packages directory.
For Symfony2, there are compiler passes, to automatically configure each package for Assetic. However, I have not extracted the functionality you need.

Small precision, this component is not a package manager (ex. Assetic) but an helper to configure specifically the Assetic (and includes functionalities for Tw

[2015-05-25 14:28] khromov commented on #116
Excellent suggestion, we use well over 30 packages at work and running `composer update`is a huge pain. 99% of the time is spent waiting for GitHub API calls to finish..

[2015-05-26 05:59] schmunk42 commented on #116
Would it then be sufficient to just cache the root package contents? Where is the root package data fetched?

Btw, if someone is able to create a PR - don't hesitate!

[2015-05-26 07:44] francoispluchino commented on #116
Everything starts from [AssetVcsRepository::initialize()](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Repository/AssetVcsRepository.php#L35).

And content is retrieved by the VCS Drivers: `VcsDriver::getComposerInformation($identifier)`, `VcsDriver::getTags()`, `VcsDriver::getBranches()`.

For example, for Github: [GithubDriver::getComposerInformation()](https://github.co

[2015-05-26 15:33] neoascetic commented on #70
Similar issue here. [Here](https://github.com/desandro/imagesloaded/blob/master/bower.json#L7) "imagesloaded" bower package specifies "eventEmitter" with version "4.x" as its dependency. [Here](http://bower.io/search/?q=eventEmitter) bower packages for "eventEmitter" query. The plugin tries to use [this package, which has "eventemitter" name](https://github.com/VictorQueiroz/eventemitter/blob/mast

[2015-05-26 15:37] francoispluchino commented on #70
@neoascetic it's true, this information is not in the FAQ. If you want to add this doc, I'm interested.

[2015-05-27 00:55] schmunk42 commented on #96
I have^W had the same issue.

Workaround was to add `"bower-asset/masonry": "3.*",` to force parsing of the correct `eventEmitter` repo.

[2015-05-27 01:08] schmunk42 commented on #96
This might be an issue due to a non-case-sensitive file-system:

[code]

`bower-asset/eventemitter` should be `bower-asset/eventEmitter` I think.

[2015-05-27 01:24] schmunk42 commented on #70
same here

[2015-05-27 04:50] philippfrenzel commented on #96
hmm - do I need to change something in my extension?

[2015-05-27 07:28] francoispluchino commented on #96
@schmunk42, @philippfrenzel See #70. Alas, no, there is nothing to change, you must manually override the VCS repository in the root Composer package.

[code]
**Result:**
[code]

[2015-05-27 07:56] philippfrenzel commented on #70
Hey, thanks for the advise! With the new "extra" it works fine! And travis build is back without errors!

[2015-05-27 13:13] schmunk42 commented on #70
To be honest, this is really annoying and defining repos in the root composer.json are more a hotfix than a solution. But instead of complaining, let me ask some questions ;)

- Where does this happen?
- Is it a composer or bower specific thing?
- Could we keep the original name somewhere in the extras section of a generated composer.json for bower repos?
- Is the problem related to the solver, wo

[2015-05-27 14:13] francoispluchino commented on #70
I agree with you, this is just a workaround, not a real solution, but believe me, I tried all possible solutions... But it's very difficult when we must to touch the internal components of Composer. The lead developers of Composer will not touch the Solver SAT, and that the changes will bring an improvement, only for our plugin, which is not necessary for them, given that there are already tools t

[2015-05-27 14:16] neoascetic commented on #70
Each bower package has "name" attribute in `bower.json` which may be analyzed instead of lowercased package name from `composer.json`.

[2015-05-27 14:21] francoispluchino commented on #70
It's the Solver SAT that determines research in the Repositories. Donc il est impossible (see previous comment) Therefore it is impossible to recover the real name of the package.

[2015-05-27 14:40] schmunk42 commented on #70
Just thinking loud...

[code]

Any uppercase character gets prepended with `__uc-`. *Could even be made uglier* :)

Would that - just technically - fix this issue?
Could you normalize the name in another way for composer?

PS: I believe you totally about all the rest :smiley:

[2015-05-27 16:34] francoispluchino commented on #70
So, for the package dependencies from an asset dependency, yes it is achievable, but in this case, it would be best to keep a readable name (stock maps for alias). But for asset dependencies included in the composer.json file, the name can not be converted, and the problem is still present. Of course, we can indicate in the doc, to format correctly the package name with your pattern, mais sérieuse

[2015-05-27 16:49] philippfrenzel commented on #70
je pense, que tobias fait le proposal pour convertez automatique - comme ca il y a possible de communique avec error message "comprendable" ;)

[2015-05-27 17:03] francoispluchino commented on #70
@philippfrenzel ???

[2015-05-27 18:09] schmunk42 commented on #70
Excusez-moi, quand je ne parle pas français ici :)

So I looked at: https://github.com/bower/bower.json-spec#name - and they don't allow uppercase packages names, but there are some packages registered with UpperCase names.

Am I overlooking something here or is this just pure crap?!

So to me it looks like `[a-zA-Z0-9._-]` are de-facto possible characters for bower packages.
Even more, like `/`?

[2015-05-27 18:17] philippfrenzel commented on #70
My french although got pretty bad...:) nothing really constructive to add...

[2015-05-28 09:36] francoispluchino commented on #70
@philippfrenzel Ok I just figured your message! Indeed, I allowed myself to write in [French](https://github.com/francoispluchino/composer-asset-plugin/issues/70#issuecomment-105929052)... Sorry, I didn't do proofreading (we'll put it on the back of tiredness ;-) )...

@schmunk42

    How does bower handle that on case-insensitive FS like on OS X or Windows?

Bower installs the packages with names

[2015-05-28 09:39] francoispluchino commented on #70
For NPM, now there is an enterprise version for use the private packages, see [NPM Enterprise](https://www.npmjs.com/enterprise). But I have not tested.

[2015-05-28 10:11] schmunk42 commented on #70
You could wrap the git, Node, Bower etc. in Docker ... but going that path is a big decision. I won't do it for now.
And without the disadvantages of #93 are huge.

I think your plugin does a better job than bower itself ;)

Anyway, I think that ...

**would be great!**

And for the rest ... it is was it is, says the code. :) I'd rather like to speed-up the download-performance we discussed in ano

[2015-05-28 10:17] schmunk42 commented on #93
Related (performance): https://github.com/francoispluchino/composer-asset-plugin/issues/116

[2015-06-01 09:42] meteocontrol opened #118 "NPM registry via proxy"
We are using the plugin within a docker container which requires a proxy to get access to the internet. This results in 404 errors when trying to download NPM assets. Our workaround is to replace the protocoll in the URL within `NpmRepository.php` with `http://` ([similar to this] (http://stackoverflow.com/questions/11773509/npm-behind-a-proxy-fails-with-status-403))

Would it be possible to intro

[2015-06-01 09:46] francoispluchino commented on #118
This functionality is not related to the plugin, but Composer. I never tested with a Proxy, but I suggest you look at the doc of Composer for [Proxy](https://getcomposer.org/doc/03-cli.md#http-proxy-or-http-proxy). Hope this can help you.

[2015-06-01 10:01] meteocontrol commented on #118
Thanks for your answer. Adding `registry.npmjs.org` to the `no_proxy` variable had the same effect. I'll have to see if this is a viable option for us, but thanks nonetheless!

[2015-06-01 10:11] francoispluchino commented on #118
The plugin simply create VCS Repositories, it connects on the registries of NPM and Bower, but also the URLs (API Github for example) for each repository. I do not know if you need to add them anyway.

After you can force Composer to use the Sources with the option `--prefer-source`, in this way, Composer will use GIT preferably, if it available.

If you find the solution, made me a feedback. I wi

[2015-06-01 11:32] meteocontrol commented on #118
We are actually using the plugin with Satis, so we can't use that option. Furthermore using `no_proxy` could be problematic in the future as our servers require a proxy to communicate with the internet.

[2015-06-01 19:00] alexandernst commented on #112
@francoispluchino I'm willing to give this a shot, if you think it's not hard to implement. What is required for this to get implemented? Can you give me any tips/guiding?

[2015-06-02 17:04] alexandernst opened #119 "This plugin doesn't handle || operator"
Trying to install `"npm-assets/npmconf": "2.1.2"` will fail because parsing one of the dependencies fails.
The exact dependency is https://github.com/npm/npmconf/blob/b765049207761c3020f286f9b746699616e35547/package.json#L14 which will be converted to `[npm-asset/nopt] => 2,|3`, which is not valid.

[2015-06-02 17:26] alexandernst commented on #119
After some further debugging, the error seems to come from `cleanRange` from `SemverConverter.php`.

    echo cleanRange("2 || 3"); // <--- returns "2 |3"

[2015-06-02 19:50] #119 closed

[2015-06-02 20:44] alexandernst commented on #70
I ... have a really wild idea. Hold on, here it is. Use Reflection to hijack `strtolower` (and variants) in combination with `(debug_backtrace())[1]` so we can detect if  the caller function is the function that lowercases what we need and return the string as is.

Of course:

* This hijacking thing should be done the moment the plugin is loaded
* This is extremely hacky, but it's a solution and w

[2015-06-02 21:10] alexandernst commented on #70
Oh, this actually requires RunKit which is not enabled (even installed) by default on PHP, so we're back to square 1. :disappointed:

[2015-06-02 22:18] alexandernst opened #122 "Satisfiable logic broken?"
I have a `composer.json` file with the following content:

    "require": {
        "npm-asset/npmconf": "2.1.2"
    }

I also have a `package.json` with the equivalent content.

When I run `npm install` this is the output that I get:

    npmconf@2.1.2 node_modules/npmconf
    ├── uid-number@0.0.5
    ├── inherits@2.0.1
    ├── osenv@0.1.1
    ├── ini@1.3.3
    ├── semver@4.3.6
    ├── config-cha

[2015-06-02 22:36] alexandernst commented on #122
Also, I'm not really sure why NPM is installing `ini 1.3.3`, while Composer is targeting for `ini 1.0.0`. Any ideas @francoispluchino ?

[2015-06-02 22:47] alexandernst commented on #122
Ok, I get it. [`config-chain` requires `"ini": "1"`](https://github.com/dominictarr/config-chain/blob/v1.1.9/package.json#L18). NPM treats that as `any version starting with 1` as you can see [here](http://semver.npmjs.com/).

So this is another bug. The plugin should tell Composer that `1` is satisfiable by any version starting with `1`.

Let me see if I can get it working.

[2015-06-03 12:05] alexandernst commented on #122
Got to the bottom of the issue. PR https://github.com/francoispluchino/composer-asset-plugin/pull/123 is fixing this

[2015-06-03 12:17] cyberworm opened #124 "Problem with npm-asset/nopt 1.0.0"
I get the following error:

[code]

Trace:

[code]

composer.json:

[code]

[2015-06-03 12:54] neizerth commented on #17
I have same problem. I have installed plugin in global mode and then i get this output:
 - bower-asset/angular-resource dev-master requires bower-asset/angular 1.4.1-patch4029 -> no matching package found.

{
  "repositories": [
    {
      "type": "composer",
      "url": "http://packages.phundament.com"
    }
  ],
  "require": {
    "php": ">=5.3.2",
    "yiisoft/yii": "1.1.*",
    "php-imap/php

[2015-06-03 13:04] francoispluchino commented on #17
@neizerth Add the `@dev` flag on your dependency (see #69 for read the reason).

[2015-06-03 16:19] francoispluchino commented on #124
The `bin` download type is not supported currently.

[2015-06-03 16:25] francoispluchino commented on #122
There is seems that a conversion problem is present for the version `1`, because Composer and NPM not interpret this value in the same way.

[2015-06-03 16:29] alexandernst commented on #122
@francoispluchino Yes, indeed. That's why I made #123 which fixes that issue. Please review and merge if you don't have any objections for the fix :)

[2015-06-03 16:34] francoispluchino commented on #122
Ok, I see your PR tomorrow.

[2015-06-04 07:36] francoispluchino commented on #122
Can be closed by #123.

[2015-06-04 07:36] #122 closed

[2015-06-04 07:58] alexandernst commented on #124
This is related to #112 . I'm willing to work on #112 , but I need some guidance @francoispluchino . If you can give me some tips, I could implement #112 and maybe this.

[2015-06-04 10:54] francoispluchino commented on #112
It goes here:
- `Fxp\Composer\AssetPlugin\Repository\AbstractAssetsRepository::createVcsRepositoryConfig()`
- `Fxp\Composer\AssetPlugin\Repository\NpmRepository::createVcsRepositoryConfig()`

[2015-06-06 08:24] neizerth commented on #17
@francoispluchino Thanks for your reply.
I changed my composer.json to

[code]
And i have this problems :
[code]

[2015-06-07 21:06] alexandernst opened #125 "FXP doesn't understand recursive dependencies"
I'm trying to install `jsonpath: 0.1.5`, but I'm getting this error:

    Your requirements could not be resolved to an installable set of packages.

      Problem 1
        - npm-asset/static-eval 0.2.3 requires npm-asset/escodegen ~0.0.24 -> satisfiable by npm-asset/escodegen[0.0.24, 0.0.25, 0.0.26, 0.0.27, 0.0.28].
        - npm-asset/escodegen 0.0.24 requires npm-asset/esprima ~1.0.2 -> satisf

[2015-06-18 13:41] samdark opened #126 "Stopped working after Composer update"
[code]

Updated from `2015-06-14_09-10-46-8e9659b` to `74e7c5fe22dc456336a2b20c7b12a9a83fc4af09`.

[2015-06-18 13:44] samdark commented on #126
https://github.com/composer/composer/compare/8e9659b...74e7c5fe22dc456336a2b20c7b12a9a83fc4af09

[2015-06-18 14:04] #126 closed

[2015-06-18 14:04] samdark commented on #126
Fixed in Composer.

[2015-06-21 09:05] Zauberfisch opened #127 "separate frontend and backend packages into "require" and "require-frontend""
I love this plugin, because I can use one package manager for all my dependencies.

While I don't like using multiple package mangers, I would still like some sort of separation between my frontend and my php dependencies.

So, I would like to propose to put dependencies managed by this plugin into its own section.
for example `require` and `require-frontend` or perhaps even better `require`, `req

[2015-06-23 10:43] francoispluchino commented on #112
Fixed by #128.

[2015-06-23 10:43] #112 closed

[2015-06-24 00:44] kirkmadera opened #129 "Could not parse version constraint <=2.1.x: Invalid version string "2.1.x""
I get "Could not parse version constraint <=2.1.x: Invalid version string "2.1.x"" when attempting to install jquery-modal. I am requiring "bower-asset/jquery-modal": "~0.5.2". This seems similar to #55.

The library's bower.json file specifies a version like this:
[code]

https://github.com/kylefox/jquery-modal/blob/master/bower.json

[2015-06-26 12:38] dizews opened #130 "remove partial ignored directory"
Hello.

I think plugin do not undestand ignore paths with subdirectory.
For example:
in "jquery", plugin remove all "dist" directory instead of "dist/cdn"

[2015-06-26 12:40] francoispluchino commented on #130
For jquery, only stable versions have a dist directory.

[2015-06-26 13:18] dizews commented on #130
I try to use make composer-mirror throw satis. In satis config I use "bower-asset/jquery": ">=1.7@stable", but the result package have not dist files only for jquery. for example "bower-asset/bootstrap" has dist directory.

[2015-06-26 13:34] dizews commented on #130
composer/cache has package with dist directory but installed package has not

[2015-06-26 13:37] francoispluchino commented on #130
The differnce between bootstrap and jquery, is that the Bootstrap branches contain the distdirectory, whereas this is not the case for jquery. Tags only contain this directory... (it is the choice of the developers).

- [Jquery Branch Master](https://github.com/jquery/jquery)
- [Jquery Tag 2.1.4](https://github.com/jquery/jquery/tree/7751e69b615c6eca6f783a81e292a55725af6b85)

[2015-06-26 13:38] francoispluchino commented on #130
composer/cache?

[2015-06-26 13:42] dizews commented on #130
~/.composer/cache/files/bower-asset/jquery/7751e69b615c6eca6f783a81e292a55725af6b85.zip - it a cache for jquery 2.1.4

[2015-06-26 13:47] francoispluchino commented on #130
Ok, I thought of a package name ... Strange, I use jquery with my composer plugin, and I don't have this bug.

Do you used the last stable version of my plugin (1.0.2) and last `dev` version of Composer?

[2015-06-26 14:21] francoispluchino commented on #130
You always have the ability to disable or change the configuration for removing the ignored files of Bower, see the doc [Disable or replace the deleting of the ignore files for Bower](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/index.md#disable-or-replace-the-deleting-of-the-ignore-files-for-bower).

[2015-06-27 19:03] dizews commented on #130
I find out why the dist was removed. It is not a bug of you plugin.
thanks for your attention.

[2015-06-27 19:03] #130 closed

[2015-07-02 07:03] sakhunzai opened #131 "fails to delete ignore files if asset-installer-paths is defined"
Let say I have following composer.json

[code]
I have defined both  `vendor-dir` as well as `asset-installer-paths` , given that , composer fails to delete ignore files defined in `asset-ignore-files` list.

problem seems to be ` Installer/IgnoreFactory.php` class which does not account for the both directory settings, to be specific getInstallDir

[code]

I think it makes sense to have different

[2015-07-02 08:12] francoispluchino commented on #131
Use you the last stable versions (v1.0.2) of this plugin and composer?

[2015-07-02 08:54] sakhunzai commented on #131
yes both are latest :

`composer self-update`
`composer global require "fxp/composer-asset-plugin:~1.0.2"`

[2015-07-02 08:59] francoispluchino commented on #131
Indeed, it seems that the change of directory is not supported by the IgnoreFactory.

[2015-07-02 09:50] sakhunzai commented on #131
some other observation that might help fix the bug

a) A quick fix copying logic from `AssetInstaller` constructor to `Installer\IngnoreFActory::getInstallDir`
[code]

b) A possible bug for future  in `IgnoreFactory:create() Ln 44`

[code]
   above code fails for
[code]
 because :` $package->getName()` returns `bower-asset/jquery-ajaxqueue` while converting all characters to small cases , I am not

[2015-07-02 09:53] francoispluchino commented on #131
Alas, yes, it's the standard of Composer, and that's a problem ...

[2015-07-04 17:56] nazar-pc opened #132 "provide/replace/conflict support"
I'm trying to integrate this awesome plugin into my CMS.
It comes with some components already bundled (jQuery, Polymer, UIkit, etc.), but since they are not installed via this plugin I need to prevent duplicated installation to avoid conflicts.

In my case `composer.json` is generated on-fly, I've tried two forms, in both cases jQuery was installed:(

First:
[code]
Second:
[code]

Is there any po

[2015-07-05 10:31] francoispluchino commented on #132
Bower and NPM are two separate systems, so it is normal that you have jquery installed 2 times, once for NPM, and another time for Bower.

[2015-07-05 11:49] nazar-pc commented on #132
Looks like you didn't understand what I mean.
I've specified that jQuery is already installed:
[code]
But anyway it was installed additionally via Bower by dependencies, I want to account at least this simple case when situation is quite obvious.
It seems to be a bug in dependencies resolution process.

[2015-07-05 12:28] francoispluchino commented on #132
I probably have not understood your problem ... and I still don't understand it.

The plugin solves nothing, It's the Solver SAT of Composer that makes the analysis. The plugin simply gets the URL via the NPM and Bower registries, and it creates the package for each repository. Basically, it simulates the presence of a file package.json, and creates a VCS Repository automatically. That is what do

[2015-07-05 12:36] nazar-pc commented on #132
Not exactly.
I know, that in environment where everything is installed jQuery is already present (manually, without package managers, it is just present).
That is why I want to avoid duplicated installation.
For this reason I've added lines:
[code]
with the hope that solver will see in case when some package depends on `bower-asset/jquery` (just `jquery` in Bower terms), `jquery` will be skipped f

[2015-07-05 13:40] francoispluchino commented on #132
If you have a technical solution to achieve what you want, I am open to any proposal.

[2015-07-05 14:15] nazar-pc commented on #132
I'm not sure how exactly this plugin integrates with Composer currently.
Who manages dependencies resolution, do you feed everything to Composer or do that for Bower and NPM separately inside plugin alone?

If Composer's dependency resolution system would have all information, it would work already. If plugin does this by itself - than it should read `provide/replace/conflict` fields in addition t

[2015-07-07 22:45] cebe commented on #132
shouldn't that provide definition go into the root of your composer.json instead of the repository part?

[2015-07-07 22:52] nazar-pc commented on #132
Why? It might be part of any package. Also I've tried to put it into root of `composer.json` (look at second part of first message), it didn't work either.

[2015-07-08 09:36] cebe commented on #132
The problem here seems to be that you provide jquery of version 3.0.0-alpha, which does not match the requirement of the first package so another one gets installed.
I played around a bit and found that only `replace` works and only if you put it in the root:

As far as I see this is solely related to composer and not the asset plugin.

[code]

[2015-07-09 16:21] nazar-pc commented on #132
Normally it should cause dependencies resolution problem and result in error since composer doesn't allow two packages with the same name to be installed, isn't it?

Also look at https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/index.md#usage-with-multiple-versions-of-the-same-dependency

But whose bug is that?

[2015-07-09 16:50] cebe commented on #132
if you can reproduce it without having the asset plugin installed it is a composer issue, otherwise we need to look where the issue is when the plugin is installed.

[2015-07-16 05:52] massimilianomancini opened #134 "Composer\Package\Version\VersionParser::parseLinks is deprecated #4260"
Coming from https://github.com/composer/composer/issues/4260#issuecomment-121832292

Here is the -vvv log both for self-update and update: http://pastebin.com/sGLnbf66. It seems to be a problem with https://github.com/francoispluchino/composer-asset-plugin package. (win7)

EDIT:
I've searched for parseLinks inside fxp package, 2 founds: https://github.com/francoispluchino/composer-asset-plugin/sea

[2015-07-16 08:02] francoispluchino commented on #134
See #133.

[2015-07-16 08:02] #134 closed

[2015-07-17 13:10] kavitama opened #135 "Deprecation Notice: Composer\Package\Version\VersionParser::parseLinks is deprecated. Use \Composer\Package\Loader\ArrayLoader::parseLinks() instead in phar:///usr/local/bin/composer/src/Composer/Package/Version/VersionParser.php:226"
This is what I get after:
composer global require "fxp/composer-asset-plugin:~1.0.2"
and a composer update.

What is happening, since even if I get back there is no chance to fix it?????

[2015-07-17 13:14] francoispluchino commented on #135
Thanks to see the issues before add a new duplicated issue :-). See #133.

[2015-07-17 13:14] #135 closed

[2015-07-17 16:18] kavitama commented on #135
Sorry for not checking it before.
I have not understood what is the solution, would you help me in understanding?

[2015-07-25 11:21] Geoide commented on #112
I can´t install gulp via composer:
[code]

I get the same error:

[code]

[2015-07-25 11:35] YasserHassan commented on #112
@Geoide use the development branch to get over this until version 1.0.3 is released.

[2015-07-25 13:21] Geoide commented on #112
@YasserHassan I've installed dev branch:
[code]
but it not works. Same message with gulp.

[2015-07-27 14:01] talyssonoc opened #136 "Can't make it work, maybe some example ?"
My `composer.json` is like this right now:

[code]

But when I run `composer install`, I get:

[code]

Am I doint something wrong ? Could you write some examples of how to use it ? Thanks !

[2015-07-27 14:03] francoispluchino commented on #136
The plugin must be installed in `global` mode and not in `project` mode.

[2015-07-27 14:08] talyssonoc commented on #136
Thanks, it's working now ! I was confused because it is said the two ways here: https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/index.md#installation

If some project will require my package in the future, it must also have it installed globally when installing its dependencies ?

[2015-07-27 14:10] francoispluchino commented on #136
Yes... see #7.

[2015-07-27 14:13] talyssonoc commented on #136
Well...I hope Composer approve this PR soon. Is there some way I can require it globally on my `composer.json` ?

[2015-07-27 14:25] francoispluchino commented on #136
Alas, I don't think... And no, you can't require a global plugin (it was a proposal in this PR for Composer).

[2015-07-27 14:29] talyssonoc commented on #136
Gonna use it like this them, no problem. It is not capable of using `git+https` helper yet, right ?

[2015-07-27 14:52] francoispluchino commented on #136
It must be functional for the `dev-master` branch, but it seems that there is a bug.

[2015-07-27 14:54] talyssonoc commented on #136
I see... well, thank you anyway. Great package, btw !

[2015-07-27 14:54] #136 closed

[2015-07-27 15:26] francoispluchino commented on #127
This is not possible because the plugin only does create VCS Repositories with the converted informations from Bower or NPM.

[2015-07-28 08:28] hector-del-rio commented on #129
I get a similar error.

[code]
twbs/bootstrap@9b1a213cf758e1b60e20c59a721a63e13da098f7 introduced a change in bower.json and now looks like this:

[code]
I tried to run it through normal bower and it works as expected, so apparently the bug is somewhere in this this project.

[2015-07-28 09:22] cvrebert commented on #129
Yup, works fine in real Bower:
[code]

[2015-07-28 09:34] alcohol commented on #129
I believe that Composer does not allow hyphen constraints (a range) to be combined with wildcard versions (such as `.*` or `.x`).

[2015-07-28 09:39] francoispluchino commented on #129
Yes, but it's converted [here](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Converter/SemverConverter.php#L126).

You can see the test [here](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Tests/Converter/SemverConverterTest.php#L99).

But your error indicates an wildcard and not a number in the range, so, we have to convert it too.

[2015-07-28 09:48] JustDoItSascha commented on #129
Do you know when bug could be fixed, because due to the changes of bootstrap nothing works more on our projects... ;-)

[2015-07-28 09:51] francoispluchino commented on #129
I think I could free myself of the time this weekend, but if you want to fix it quickly, your contribution is welcome :-).

[2015-07-28 09:54] JustDoItSascha commented on #129
Ok, I will take a look, because every yii project can't be updated right now or in general, every project with bootstrap ;-)

Maybe you have a hint for me where I can search for the error?

[2015-07-28 09:57] francoispluchino commented on #129
@JustDoItSascha See my previous [comment](https://github.com/francoispluchino/composer-asset-plugin/issues/129#issuecomment-125523468). It is in this class that everything is converted.

[2015-07-28 10:28] JustDoItSascha commented on #129
Ok, I fixed the issue and hope that I didn't break something else. See pull request https://github.com/francoispluchino/composer-asset-plugin/pull/137

[2015-07-28 15:18] pkbhadkoliya commented on #129
Is this bug fixed? pull request #137 is merged?

[2015-07-28 16:56] cvrebert commented on #129
Bower's docs have been updated to clarify the version range syntaxes that need to be supported:
https://github.com/bower/bower.json-spec/pull/49
(TL;DR: https://github.com/npm/node-semver#ranges)

[2015-07-28 19:23] francoispluchino commented on #129
Fixed by #137.

[2015-07-28 19:23] #129 closed

[2015-07-28 19:29] #127 closed

[2015-07-28 19:30] #117 closed

[2015-07-28 19:35] francoispluchino commented on #125
Recursive dependencies (with multiple dependency for the same package but with a different version) is not supported by Composer, so, by this plugin. Bower has not this problem.

[2015-07-28 19:35] #125 closed

[2015-07-28 19:39] francoispluchino commented on #132
@nazar-pc Can this question be closed?

[2015-07-28 19:41] nazar-pc commented on #132
@francoispluchino, I didn't check what @cebe recommended yet, let me try that first.

[2015-07-29 09:37] re8us commented on #129
still have this error. may be i do something wrong?
installing new yii2:
[code]

[2015-07-29 09:48] Gogolinsky commented on #129
The temp solution – rollback to prev version

[2015-07-29 10:00] re8us commented on #129
@Gogolinsky just tried – all the same

[2015-07-29 10:01] lynicidn commented on #129
@re8us https://github.com/francoispluchino/composer-asset-plugin/pull/137#issuecomment-125757921

[2015-07-29 10:44] re8us commented on #129
@lynicidn @Gogolinsky thanks a lot!
Helped for me ``global require  "fxp/composer-asset-plugin:dev-master"`` (while **not** global didn't help).

[2015-07-29 19:30] gilberson commented on #129
Does anyone could find the solution to this problem?

[2015-07-29 19:32] francoispluchino commented on #129
See #137.

[2015-07-30 00:17] gilberson commented on #129
Thanks

[2015-07-30 20:39] sganz commented on #129
Ran into the same issue

composer global require "fxp/composer-asset-plugin:1.0.1"

That fixed it up for me.

[2015-07-30 20:44] francoispluchino commented on #129
What? `v1.0.3` does not work?

[2015-07-30 21:07] sganz commented on #129
François -

Sorry I didn't see the v1.0.3 was available I was just looking at the fix in this thread.  I just pulled 1.0.3 and it is OK as well. Sorry for the scare. Thanks for all your hard work as well!

Sandy

[2015-08-03 11:59] jonag opened #138 "Error trying to resolve dependencies"
I am trying to use this plugin instead of bower and I'm facing an issue. Here is my composer.json :

    // ...
    "require": {
         // ...
        "bower-asset/bootstrap": "~3.3.4",
        "bower-asset/bootstrap-tokenfield": "~0.12.1",
        // ..
    },
    // ...

When I do a composer update, I have this error message :

    Your requirements could not be resolved to an installable set

[2015-08-03 12:07] francoispluchino commented on #138
Indeed, if Bower you asks to select a version, so, it will be a problem, because Composer (and so the plugin) does not support this feature. But according to the conditions of versions of your example, I do not think that's the problem.

Quelle version du plugin utilisez vous ?

[2015-08-03 13:39] jonag commented on #138
I use the version 1.0.3, which seems to be the last.

But if I understand well how the definition of dependencies works, bootstrap-tokenfield requires bootstrap > 3.1.1 and < 3.2.0 and because I use bootstrap 3.3.x the dependency can't be satisfied ?

[2015-08-03 13:44] francoispluchino commented on #138
Sorry, I read wrong... yes this is the problem, your dependency is using a version prior to 3.2, then you will want get the 3.3 version. So there is a conflict. Bower manages conflicts, which is not the case for Composer. The only solution is to update `bootstrap-tokenfield` or use the 3.2 version.

[2015-08-03 14:13] jonag commented on #138
Ok, merci. I will try to fork the repository to update the dependency or continue to use Bower for the moment.

[2015-08-03 14:13] #138 closed

[2015-08-04 02:11] SoulFighter opened #139 "Your requirements could not be resolved to an installable set of packages."
有没有出现这种问题的？该怎么解决？

[2015-08-04 09:02] cebe commented on #139
please try to describe your problem in english and more detail. Otherwise we are not able to help you.
Include at least the composer.json and also the complete output of the composer command.

[2015-08-06 02:33] nazar-pc commented on #132
Seems to be Composer issue, reported as https://github.com/composer/composer/issues/4334

[2015-08-06 02:33] #132 closed

[2015-08-06 10:42] nazar-pc opened #140 "Optimize downloads for packages in "replace""
After I actually figured out to resolve #132, I encountered next issue.
Having such `composer.json`:
[code]

Even though nothing depends on those Bower and NPM packages, I have a lot of messages like this:
[code]

I do not understand why there might be any need to make such requests for each package in `replace` since they are just present, no need to check them in any way, especially, making requ

[2015-08-11 19:47] Lisio opened #141 "Dependency resolutions"
Does this plugin support "resolutions" section of bower.json?
https://github.com/bower/bower.json-spec#resolutions

[2015-08-11 19:55] francoispluchino commented on #141
No.

[2015-08-11 19:59] Lisio commented on #141
[code]
How to fix this problem without installing jQuery 2.x?

[2015-08-11 20:23] cebe commented on #141
maybe [provide](https://getcomposer.org/doc/04-schema.md#provide) jquery in your root composer.json?

[2015-08-14 12:33] VijaySankhat commented on #89
[Composer\Repository\RepositorySecurityException]
  The contents of http://packagist.org/p/illuminate/pagination$47dc170ac3e8c4534e7d3ee39623a2cc8495821847914a59b1ec32dfc439a0c8.json do not match its signature
  . This should indicate a man-in-the-middle attack. Try running composer again and report this if you think it is a mistake.

update [--prefer-source] [--prefer-dist] [--dry-run] [--dev] [-

[2015-08-17 20:50] memclutter opened #142 "Problem bower-asset/jquery"
Hello!

Sorry for my English!

I encountered a problem. Create a new project on yii2 and get an error

[code]
Then I tried to just get the information about the package
[code]
If anyone can tell me what I'm doing wrong. Thank!

[2015-08-17 20:53] francoispluchino commented on #142
You must install the plugin in global mode:

[code]

[2015-08-18 03:06] cornernote commented on #135
run `composer global update`

[2015-08-18 05:47] memclutter commented on #142
Already install in globall.

[2015-08-18 06:08] memclutter commented on #142
The problem is solved. Sorry to disturb. I did not have the file in the directory where composer.json I ran composer info

[2015-08-18 06:08] #142 closed

[2015-08-27 08:05] juho-jaakkola opened #144 "Deprecation notice about parseLinks() method"
Composer output is getting flooded with:

Deprecation Notice: ```Composer\Package\Version\VersionParser::parseLinks``` is deprecated. Use ```\Composer\Package\Loader\ArrayLoader::parseLinks()``` instead

[2015-08-27 11:10] francoispluchino commented on #144
See #133, #135.

[2015-08-27 11:10] #144 closed

[2015-08-30 03:52] linkdesu opened #145 "Something makes `composer update` very very slow ."
Can anyone explain why this happend ? It makes `compose update` very very slow ... T_T

[code]

[2015-08-30 11:46] francoispluchino commented on #145
See:
- Issue #103
- FAQs [Why are all the versions definitions retrieved for all packages to update?](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/faqs.md#why-are-all-the-versions-definitions-retrieved-for-all-packages-to-update)
- FAQs [How to reduce the number of requests for getting the package definitions?](https://github.com/francoispluchino/composer-ass

[2015-08-30 11:46] #145 closed

[2015-08-31 19:32] YasserHassan opened #146 "Invalid version string with compound versions"
When trying to install the font `source-sans-pro` which has a current release version of `2.010R-ro/1.065R-it` as shown [here](https://github.com/adobe-fonts/source-sans-pro/releases), the following error message is produced:
[code]

[2015-08-31 19:59] YasserHassan commented on #146
It also can not handle single versions like `1.050R` from the same page above. The error message is:
[code]

[2015-08-31 20:03] francoispluchino commented on #146
This pattern is not supported.

[2015-08-31 20:13] YasserHassan commented on #146
Are there plans to support it in future versions?

[2015-09-01 21:07] francoispluchino commented on #146
Why not, if someone wants to do.

[2015-09-08 14:10] holtkamp opened #147 "Wondering why installation of a specific bower asset is incomplete"
- add ```"bower-asset/fullcalendar": "~2.4"``` to composer.json
 - run composer update => works, a folder 'dist' is created
- add ```"bower-asset/fullcalendar-scheduler": "~1.0"``` to composer.json
 - run composer update => does not work, no folder is created

When using bower directly it DOES work: ```bower install fullcalendar-scheduler```. Does the Composer Asset Plugin not support converting t

[2015-09-08 14:25] francoispluchino commented on #147
Try: [Disable or replace the deleting of the ignore files for Bower](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/index.md#disable-or-replace-the-deleting-of-the-ignore-files-for-bower).

[2015-09-08 14:27] francoispluchino commented on #147
Sorry, I misunderstood. Indeed, the plugin only download the sources.

[2015-09-17 14:10] gwelr commented on #138
Just for the information, I faced this issue:
- run composer with bowser-assets requirements before installing the plugin,
- install the plugin
- run composer with bowser-assets requirements
=> got the error.
I solved the issue by deleting everything under the vendor/ folder, running composer clearcache and then composer install. Bootstrap 3.1.1 was correctly installed.

Other option when you need

[2015-09-17 14:16] gwelr commented on #138
This is my fork of the bootstrap-tokenfield project with bootstrap dependencies fixed:
https://github.com/i-logs/bootstrap-tokenfield
Add the following line in your composer.json file to use it instead of bootstrap-tokenfield:
[code]

[2015-09-19 09:26] francoispluchino commented on #147
I just did the tests with version `1.0.3` of this plugin, and the `dist` folder with its contents is present.

Is it ok for you now?

[2015-09-19 09:28] #78 closed

[2015-09-19 19:48] holtkamp commented on #147
Hey, yeah indeed for ```"bower-asset/fullcalendar-scheduler": "~1.0"``` now a folder ```dist``` is create with the .css and .js, great!

Only I am trying to understand, what changes? Version ```1.0.3``` https://github.com/francoispluchino/composer-asset-plugin/tree/v1.0.3 has not been changed since 29-07-2015... Also https://github.com/fullcalendar/fullcalendar-scheduler/tree/v1.0.0 seems not chan

[2015-09-19 19:56] francoispluchino commented on #147
The `master` branch of `fullcalendar-scheduler` haven't the `dist` folder, on the other hand, the tag `v1.0.0` have the `dist` folder.

If you use the `minimum-stability` option with `dev` value in your root Composer package, Composer will download the master branch, and not the `v1.0.0` stable version.

[2015-09-19 20:26] holtkamp commented on #147
Mm, ok, I guess I celebrated too early, I made a mistake when checking: I manually created a ```dist``` folder with the required .css and .js files after reporting this issue. I forgot this and now thought it the folder was created / it works: oops!

I DO have ```"minimum-stability": "dev"``` in my composer.json, but since I refer to the ```~1.0``` version, it will install the stable branch tagged

[2015-09-20 09:03] francoispluchino commented on #147
Can you give me your composer.json?

[2015-09-20 16:54] semir-karic opened #148 "Getting undefined variable:config expection while trying to install asset plugin"
I don't know if it's the related to the plugin or my composer, but when I try to install composer asset plugin, I get
[ErrorException]
Undefined variable: config

[2015-09-20 16:56] francoispluchino commented on #148
Do you use the last `dev` version of Composer? And the last `stable` version of this plugin?

[2015-09-20 17:04] semir-karic commented on #148
Tried updating composer and got it to install the plugin but now i get error
[ErrorException]
  Argument 1 passed to
Fxp\Composer\AssetPlugin\Repository\BowerRepository::createVcsRepositoryConfig()
must be of the t
  ype array, null given, called in
/root/.composer/vendor/fxp/composer-asset-plugin/Repository/AbstractAssetsRepository.
  php on line 136 and defined

while trying to create a yii2 pro

[2015-09-20 17:07] Stevad commented on #148
I have the same issue as @semir-karic. Clear install of composer. Update composer to latest version. And then - composer global require "fxp/composer-asset-plugin:~1.0.3".
And while installing project (I use Yii2 Advanced version), I've got the same error.
What we are doing wrong?

[2015-09-20 17:08] digitalstaub commented on #148
same problem

[2015-09-20 17:10] francoispluchino commented on #148
@samdark, @cebe, Do you have the same error with your framework?

[2015-09-20 17:10] VincentQue commented on #148
same problem

 [ErrorException]
  Argument 1 passed to Fxp\Composer\AssetPlugin\Repository\BowerRepository:
  :createVcsRepositoryConfig() must be of the type array, null given, calle
  d in /Users/Vincent/.composer/vendor/fxp/composer-asset-plugin/Repository/
  AbstractAssetsRepository.php on line 136 and defined

[2015-09-20 17:13] jacekm commented on #148
Confirm, the same problem during installing Yii2 App Advanced

[2015-09-20 17:23] agungsijawir commented on #148
@francoispluchino @snickom found the issue [here](https://github.com/yiisoft/yii2/issues/9737#issuecomment-141812014). Seems the error not from this plugin, but RobinHerbots/jquery.inputmask.

Need to wait until his PR merged and test it again.

[2015-09-20 17:25] francoispluchino commented on #148
I just do the test for `yiisoft/yii2-app-advanced`, and it's OK.

[code]

[2015-09-20 17:25] francoispluchino commented on #148
@agungsijawir Thanks.

[2015-09-20 17:25] #148 closed

[2015-09-20 17:36] agungsijawir commented on #148
yes, my pleasure @francoispluchino
thank you for the cooperation

[2015-09-21 08:26] holtkamp commented on #147
Well, I reduced it down to the most minimal ```composer.json``` that goes "wrong" :smile:

[code]

*Environment*:
- composer: 9f2e562e48145f10bf224f93f561e762df980638 (updated today 21-09-2015)
- globally installed fxp/composer-asset-plugin: @stable (resolved to 1.0.3)

[code]

Resulting directory listing (missing ```./vendor/bower-asset/fullcalendar-scheduler/dist```):

![screen shot 2015-09-21 a

[2015-09-21 08:41] francoispluchino commented on #147
See my [first comment](https://github.com/francoispluchino/composer-asset-plugin/issues/147#issuecomment-138580081).

There is an inconsistency between patterns of Bower ignore and Symfony Finder. You can replace manually the filter for the moment.

[code]

[2015-09-21 08:53] holtkamp commented on #147
Mm, ok, your second comment made me not dive into that part so much, sorry.

Now it works indeed!

Might be useful to add that to the documentation / known issues.

Apparently this section is interpreted differently by Symfony Finder, resulting in removing the files for ```fullcalendar-scheduler```:

[code]

Since the ignore section of ```fullcalendar``` does work with both Bower and Symfony Finde

[2015-09-21 08:53] #147 closed

[2015-09-24 13:38] llfm opened #149 "Fork in private repository"
Hello,

The following structure should work (I'm missing some information in the docs)?

[code]

The repo `my-repo` is a published package, but I want my version of it.
Composer understands it and get my forked version, does this plugin do it too?

[2015-09-28 07:22] francoispluchino commented on #149
Yes you can use your forked repo. You must create and used a new branch for example.

[code]

[2015-09-28 14:27] llfm commented on #149
Thanks for the response. Actually, I miss the `bower-vcs` and the information that composer doesn't resolve repositories recursively.

[2015-09-28 14:27] #149 closed

[2015-10-01 10:27] tehmaestro opened #151 "Cannot deploy to Amazon AWS, fatal error at parseLinks"
Hi.
  When I try to deploy to Amazon, I get an error for the following command:
`export COMPOSER_HOME=/root && /usr/bin/composer.phar global require fxp/composer-asset-plugin:1.0.0-beta4`

I tried changing this to:
`export COMPOSER_HOME=/root && /usr/bin/composer.phar global require fxp/composer-asset-plugin:1.0.3` but same result.

After going `sudo` on the machine and running the exact same comm

[2015-10-01 10:35] francoispluchino commented on #151
Do you have tested to update Composer?
[code]

[2015-10-01 10:38] tehmaestro commented on #151
Yes, I tried it. Same thing. Actually, my first deployment command is always `self-update`

[2015-10-01 10:41] francoispluchino commented on #151
Use the last stable version `1.0.3` or the dev version `1.1.0@dev` and not the `1.0.0-beta4` version (see #133).

[2015-10-01 10:53] tehmaestro commented on #151
Yeah, I tried, but it keeps giving me the error on the current version. Should I try to remove it first?

[2015-10-01 11:04] francoispluchino commented on #151
I also use AWS Elastic Beanstalk, and I didn't have this problem. But my config file is different.

**.ebextensions/deploy.config:**
[code]

[2015-10-01 11:46] tehmaestro commented on #151
Thanks for the script. Unfortunately, nothing worked.
  In the end, I fixed it by going in and `sudoedit` -ing the files modified in the pull request you mentioned (and some others) by hand. This allowed me to get rid of the fatal error, and I was able to update to `1.0.3` .

 Then I put `1.0.3` in my deployment script, and there you go, deployment works again. Thanks for answering. Maybe will fin

[2015-10-01 12:25] francoispluchino commented on #151
Another solution was to remove the plugin folder in the `global vendor` of Composer.

[2015-10-01 12:26] #151 closed

[2015-10-01 20:13] SuspiciousPackage opened #152 "Fatal error: Call to undefined method Fxp\Composer\AssetPlugin\Package\Version\VersionParser::parseLinks()"
Hi I'm trying to solve an issue with composer using a windows setup. Can't find much by googling it.
Thanks.

C:\wamp\www\laravel\blog>  composer  diagnose

Fatal error: Call to undefined method Fxp\Composer\AssetPlugin\Package\Version\VersionParser::parseLinks() in C:\Users\NAME\AppData\Roaming\Composer\vendor\fx
p\composer-asset-plugin\Repository\VcsPackageFilter.php on line 272

C:\wamp\www\lar

[2015-10-02 08:57] bashilbers opened #153 "post-install hook"
Hey,

Not really a bug, but I was wondering why there isn't a option to specify a post-install hook so I can just run composer install/update once instead of 2 times (composer-asset-plugin) needs to installed first else the bower packages can't be found.

Thoughts?

[2015-10-02 09:27] francoispluchino commented on #153
Alas, it is a 'normal' behavior... and a limitation of the solver SAT of Composer. You will find all the details in the PR for Composer, see the issue #7.

[2015-10-02 09:34] francoispluchino commented on #152
Thanks to see the issues before add a new duplicated issue :-). See #133.

You can run:
[code]

or if the global update doesn't work, you can remove manually the global installation folder of this plugin in `C:\Users\$USERNAME\AppData\Roaming\Composer\vendor\fxp\composer-asset-plugin` and reinstall the plugin by running the command:
[code]

[2015-10-02 18:44] SuspiciousPackage commented on #152
Thank you for your time. I'm new to this and programming in general.   I deleted the folder and tried the "composer global update" and it failed out with the same error.  I can respond to #133 in the future, if its best for all.

C:\ProgramData\ComposerSetup\bin>composer global update
Changed current directory to C:/Users/$USER/AppData/Roaming/Composer
Loading composer repositories with package in

[2015-10-02 18:50] francoispluchino commented on #152
Install the last stable version `v1.0.3`, not the `v1.0.0` version. You will have to repeat the same steps.

[2015-10-02 19:23] francoispluchino commented on #152
It's OK now?

[2015-10-02 20:33] #152 closed

[2015-10-13 04:36] Liv1020 opened #154 "npm could not be found in any version"
Problem 1
    - The requested package npm-assets/gulp-uglify could not be found in any version, there may be a typo in the package name.

"npm-assets/gulp-uglify": "1.4.2",
    "npm-assets/minimist": "1.2.0",
    "npm-assets/gulp-rename": "1.2.2",
    "npm-assets/gulp-css": "0.1.0"

how to fix it?

[2015-10-13 04:40] Liv1020 commented on #154
I was careless

[2015-10-13 04:40] #154 closed

[2015-10-13 08:51] holtkamp commented on #147
FYI, this is now fixed https://github.com/fullcalendar/fullcalendar-scheduler/issues/21

Inconsistency in```composer-asset-plugin``` remains however, should be marked as 'known issue'?

[2015-10-14 10:13] holtkamp opened #155 "Support for .npmignore file?"
UPDATE: still investigating, the ```bower.json``` approach now also starts throwing the update warning, any idea how to overcome this warning?

ORIGINAL DESCRIPTION:
The [documentation states](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/index.md#enable-manually-the-deleting-of-the-ignore-files-for-npm) that NPM ```package.json``` files do not have an ```igno

[2015-10-14 10:37] francoispluchino commented on #155
No, it's not supported by this plugin.

But for your problem, you can use the flag `--prefer-dist`. A zip archive will be downloaded instead of using GIT (remove your vendor directory before).

[2015-10-21 13:12] holtkamp commented on #155
Well, tried the ```--prefer-dist``` flag, but still the warning appears when upgrading a version of a bower-asset

For now the only solution seems to instruct Composer to discard the changes:
http://stackoverflow.com/questions/13613619/how-to-avoid-composer-discard-changes-message?lq=1

This only works when using the ```--no-interaction``` flag:
```composer update -vvv --no-interaction```

**Conte

[2015-10-21 13:22] francoispluchino commented on #155
You must remove the package folder before. Otherwise, Composer will use always the GIT format.

And yes, a zip will be downloaded, see https://github.com/composer/composer/blob/master/src/Composer/Repository/Vcs/GitBitbucketDriver.php#L77.

[2015-10-21 15:26] holtkamp commented on #155
Sorry for misunderstanding, but what do you mean with "You must remove the package folder before."? From where? See below, I use a complete clean install...

I try to understand it because it seems to be the source of the problem: "Composer will use always the GIT format", this seems to occur.

Instead of "downloading", composer keeps cloning / checking out the GIT repository, when performing a cl

[2015-10-23 22:27] iSynth opened #156 "Could not fetch https://api.github.com/repos/francoispluchino/composer-asset-plugin/zipball"
synthetic@devbox:~/Temp$ composer global require "fxp/composer-asset-plugin:~1.0.3"
Changed current directory to /home/synthetic/.composer
./composer.json has been created
Loading composer repositories with package information
Updating dependencies (including require-dev)
  - Installing fxp/composer-asset-plugin (v1.0.3)
    Downloading: Connecting...
Could not fetch https://api.github.com/repos/f

[2015-10-23 22:31] iSynth commented on #156
I fix it by this:
composer global require "fxp/composer-asset-plugin:@stable"

[2015-10-24 08:16] #156 closed

[2015-10-28 12:47] nadar opened #157 "Deprecated Notice"
deprecated notice

[code]

[2015-10-28 12:49] francoispluchino commented on #157
Thanks to see the issues before add a new duplicated issue :-). See #133.

You can run:
[code]

[2015-10-28 12:56] nadar commented on #157
@francoispluchino could not find an issue (must have been a wrong spelling in the search field :-)).

`composer global update` does not fix the issue, what am i doing wrong?

thanks anyway @francoispluchino

[2015-10-28 13:00] francoispluchino commented on #157
Delete your `fxp/composer-asset-plugin` vendor directory in global installation, and run `composer global uptate` after.

[2015-10-28 13:06] nadar commented on #157
notice still exist:

[code]

[2015-10-28 13:10] francoispluchino commented on #157
Ok, effectively, they have still change APIs ...

[2015-10-28 13:16] nadar commented on #157
Should i send a PR?

[2015-10-28 13:18] francoispluchino commented on #157
If you want to, however, maintain backward compatibility, and do the tests (see #133). Thanks.

[2015-10-28 13:51] nadar commented on #157
@francoispluchino is there any reason why "phpunit/phpunit" is not located in "require-dev" section?

[2015-10-28 13:55] francoispluchino commented on #157
Because phpunit is installed in global mode :-).

[2015-10-28 14:09] nadar commented on #157
Could be more convenient for people who like to contribute.

[code]

and ready to go :-)

[2015-10-29 02:48] prawee commented on #157
still exist :

Deprecation Notice: The Composer\Package\LinkConstraint\MultiConstraint class is deprecated, use Composer\Semver\Constraint\MultiConstraint instead. in phar:///usr/local/bin/composer/src/Composer/Package/LinkConstraint/MultiConstraint.php:17
Deprecation Notice: The Composer\Package\LinkConstraint\LinkConstraintInterface interface is deprecated, use Composer\Semver\Constraint\Constra

[2015-10-29 08:42] francoispluchino commented on #157
@prawee Yes, an PR is open for this, see #158.

[2015-11-07 12:33] arydeoblo opened #159 "Deprecated Notice 1.0.3"
When i run php composer.phar global require "fxp/composer-asset-plugin:~1.0.3" it's generate this notice :

Deprecation Notice: The Composer\Package\LinkConstraint\MultiConstraint class is deprecated, use Composer\Semver\Constraint\MultiConstraint instead. in phar:///usr/local/bin/composer/src/Composer/Package/LinkConstraint/MultiConstraint.php:17
Deprecation Notice: The Composer\Package\LinkConst

[2015-11-07 12:51] francoispluchino commented on #159
Thanks to see the issues before add a new duplicated issue :-). See #157, and PR #158.

[2015-11-07 12:51] #159 closed

[2015-11-08 16:51] DeOne4eg opened #160 "Deprecation Notice"
Deprecation Notice: The Composer\Package\LinkConstraint\MultiConstraint class is deprecated, use Composer\Semver\Constraint\MultiConstraint instead. in phar:///var/www/user/data/www/site.com/composer/src/Composer/Package/LinkConstraint/MultiConstraint.php:17
Deprecation Notice: The Composer\Package\LinkConstraint\LinkConstraintInterface interface is deprecated, use Composer\Semver\Constraint\Const

[2015-11-08 17:05] francoispluchino commented on #160
Thanks to see the issues before add a new duplicated issue :-). See #157, #159, and PR #158.

[2015-11-08 17:05] #160 closed

[2015-11-13 05:46] githubjeka opened #161 "PHP Fatal error:"
[code]

`composer global update`,
`rm fxp/composer-asset-plugin`
`composer global update`,

Nothing helps

**PHP Stack trace:**
[code]

PS:

[code]

[2015-11-13 05:48] #161 closed

[2015-11-13 09:29] Swader commented on #93
What is the status of this? Will the next version require NodeJS? The reason I'm asking is because Node and NPM are absolute 100% horror on VMs, especially VMs hosted on Windows, and thus this plugin would become unusable.

The PHP-only nature of these solutions is appealing because PHP has no such problems and works flawlessly. Originally, I had used BowerPHP and then considered moving to this pl

[2015-11-13 09:39] francoispluchino commented on #93
For now, this is only an idea.

After lengthy discussion with the lead developers of Composer, the problem of the performance and the optimization of the Solver SAT will not be solved (but also, the install of this plugin into global mode). That's why I started to turn me to this solution ...

Currently, the plugin works pretty well - although a little slow - and for now, we remain in pure PHP.

[2015-11-13 10:28] Swader commented on #93
Yep, I read that PR, took a while and went in all kinds of directions. Shame things got so complicated.

Understood, thanks.

[2015-11-17 00:25] ZAYEC77 opened #162 "Wrong parsing bower.json"
Hello, thank you so much for this plugin.
But I have some troubles with dependencies like this:
[code]
composer search package `DmitryBaranovskiy/eve` but it must looking for package `adobe-webplatform/eve`
https://github.com/DmitryBaranovskiy/raphael/blob/master/bower.json#L5

[2015-11-17 06:21] francoispluchino commented on #162
What is your version of this plugin?

[2015-11-17 10:14] ZAYEC77 commented on #162
My global composer config:
`"fxp/composer-asset-plugin": "~1.0.3"`

[2015-11-18 11:44] 236286 opened #163 "Here is a screen shot so you can help me fix my problem #10184"
I did these steps:
1) curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer
2) composer global require "fxp/composer-asset-plugin:~1.1.0"
3) composer create-project --prefer-dist yiisoft/yii2-app-basic basic

After that, I had a problem

Here is a screen shot so you can see the problem I am having:

![2015-11-18-180428_1280x1024_scrot](https://cl

[2015-11-18 12:02] samdark commented on #163
https://github.com/francoispluchino/composer-asset-plugin/pull/158

[2015-11-18 12:13] githubjeka commented on #163
failed to reproduce

![image](https://cloud.githubusercontent.com/assets/874234/11240853/e51f0e62-8e06-11e5-8afd-176c478de599.png)

[2015-11-18 13:06] francoispluchino commented on #163
@236286 Clean your composer caches. Maybe it solves your problem.

[2015-11-18 13:08] githubjeka commented on #163
He tried delete all by
`sudo find / -name "composer*"`

[2015-11-18 13:19] githubjeka commented on #163
Perhaps his problem relates with the network, because another computer on the same subnet have the same problem.

[2015-11-19 05:51] 236286 commented on #163
my internet is working

[2015-11-19 06:45] githubjeka commented on #163
Bower cannot get package also
![https://files.gitter.im/236286/xGuP/2015-11-19-133341_1366x768_scrot.png](https://files.gitter.im/236286/xGuP/2015-11-19-133341_1366x768_scrot.png)

# REL https://github.com/bower/bower/issues/1385

[2015-11-19 07:22] francoispluchino commented on #163
@githubjeka Ok, this issue can be closed now.

[2015-11-19 07:24] githubjeka commented on #163
Yes, it is local problem with DNS....

[2015-11-19 08:46] samdark commented on #163
Close the issue then.

[2015-11-20 10:49] samdark opened #164 "assset-installer-paths broken with latest Composer version"
1. `composer self-update`.
2. `composer clear-cache`.
3. `composer create-project --prefer-dist yiisoft/yii2-app-basic delete_me`.
3. Got `\vendor\bower\bower-asset\*`.
4. `composer self-update 1.0.0-alpha11`.
5. `composer clear-cache`.
4. Got `\vendor\bower\*`.

Note extra `bower-asset` dir at step 3 which is not expected.

It worked well w/ alpha11: https://github.com/composer/composer/compare/1

[2015-11-20 10:57] steffendietz opened #165 "Bower asset install path changed"
With https://github.com/composer/composer/commit/d98b134dc3ef7d5bd4b6e37c9621a811f8f1599d there was a change to composer, which results in `bower-asset` packages previously installed __directly__ in a directory `<project_root>/assets/vendor/` (eg. `<project_root>/assets/vendor/jquery`) now beeing placed in the directory `<project_root>/assets/vendor/bower-asset` (eg. `<project_root>/assets/vendor/

[2015-11-20 10:58] steffendietz commented on #164
#165 adresses the same issue. But its more of a general question on how it's planned to proceed further. :)

[2015-11-20 11:00] samdark commented on #164
https://github.com/composer/composer/commit/d98b134dc3ef7d5bd4b6e37c9621a811f8f1599d

[2015-11-20 11:19] #164 closed

[2015-11-20 11:20] samdark commented on #165
Quote from Composer author:

and future composer versions is to override both methods and have
getPackageBasePath just forward to getInstallPath. Unless your installer
needs to take care of packages with a target dir in which case you probably
want to copy getPackageBasePath from latest composer libraryinstaller as it
does the right thing plus the forward.

[2015-11-20 11:20] samdark commented on #165
@francoispluchino are you able to work on it anytime soon?

[2015-11-20 11:22] francoispluchino commented on #165
Quickly? no. But, I am not against a little help.

[2015-11-20 11:23] steffendietz commented on #165
So @samdark you're taking the lead on this? - Would be appreciated! :)

[2015-11-20 11:29] francoispluchino commented on #162
You can override the VCS config with the good package, see the doc [Overriding the config of a VCS Repository](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/index.md#overriding-the-config-of-a-vcs-repository).

[2015-11-20 11:33] samdark commented on #165
@francoispluchino we need a decision i.e. compatibility vs new way of how composer does things. The rest is implementation which we could try doing ourselves.

[2015-11-20 11:35] francoispluchino commented on #165
Keep the compatibility with the last `alpha11` version and the last `dev` version of Composer.

[2015-11-20 11:39] samdark commented on #165
Umm... `alpha1` is not compatible with `dev`. That's the issue. Do you mean fixing `composer-asset-plugin` to work like before w/ `dev` version of Composer?

[2015-11-20 11:44] francoispluchino commented on #165
Ok, keep only the compatibility with the last `dev` version of Composer. This was already the case for all previous versions of the plugin (see the [release notes](https://github.com/francoispluchino/composer-asset-plugin/releases)).

[2015-11-20 11:48] samdark commented on #165
Then it means no changes are required at all, right?

[2015-11-20 11:49] samdark commented on #165
The question is how composer-asset should work from now on. Should it work as before or should it create extra dir?

[2015-11-20 11:55] steffendietz commented on #165
I would suggest, trying to keep the previos behavior. As @Seldaek suggested this could be achived in overriding the methods in the installer.

This would ensure compatibility with future composer versions as well as current bower-asset installs.

[2015-11-20 11:59] steffendietz commented on #165
Also, since `bower` does not have the notion of a package vendor, this would also be more in line with the handling of the actual `bower`.

[2015-11-20 12:06] samdark commented on #165
Yep. Sounds like a plan. Do you want to take care of it, @steffendietz?

[2015-11-20 12:07] steffendietz commented on #165
Okay. I'm on it. Give me a minute. Have to set things up. :)

[2015-11-20 12:10] francoispluchino commented on #165
The problem is present only if we use the `extra.asset-installer-paths` option. In this case, the custom path is no correct, so we have to correct this problem: we must keep the initial behavior of the plugin.

**Example:**
[code]
Before, the assets were installed:
- `web/assets/jquery`
- `web/assets/bootstrap`

Now:
- `web/assets/vendor/bower-asset/jquery`
- `web/assets/vendor/bower-asset/bootstr

[2015-11-20 12:13] steffendietz commented on #165
Okay. @francoispluchino do you already have the fix in mind? Or should I try to fix this?

[2015-11-20 12:15] francoispluchino commented on #165
Not really, therefore, you have free rein.

[2015-11-20 12:16] ZAYEC77 commented on #162
@francoispluchino thank You.
Have I override repository in own project composer.json or in package which I use in my project?

[2015-11-20 12:18] francoispluchino commented on #162
Only in your root `composer.json` project.

[2015-11-20 12:28] steffendietz commented on #165
Ok.

[2015-11-20 13:01] mrsombre commented on #165
@samdark Any plans to remove fxp from yii2 core requirements? I have no idea why my php framework needs a library to install web assets, even i don't need em (as of i used bower).
And today i can't do a composer update, because yii needs fxp and it is broken. Oh my.

[2015-11-20 13:05] francoispluchino commented on #165
@mrsombre Thanks for your relevant comment! We are working to quickly resolve the change added in Composer.

But you can do a rollback of your composer version, and your problem will disappear...

[2015-11-20 13:18] samdark commented on #165
@mrsombre it's composer that's broken, not asset plugin.

[2015-11-20 13:53] steffendietz commented on #165
Ok. I pushed a fix in #166. Some builds are failing due to deprecation warnings. (I don't think I caused these.)

If someone could double check what I've done that would be great. :)

[2015-11-20 14:17] nunomaduro commented on #165
@steffendietz When will this fix going be available in the 1.1.x-dev version?

[2015-11-20 14:18] francoispluchino commented on #165
@nunomaduro Within an hour or less.

[2015-11-20 14:49] ZAYEC77 commented on #162
Thankyou

[2015-11-20 14:49] #162 closed

[2015-11-20 15:13] francoispluchino commented on #157
Fixed by #158.

[2015-11-20 15:13] #157 closed

[2015-11-20 15:13] francoispluchino commented on #165
Fixed by #166.

[2015-11-20 15:13] #165 closed

[2015-11-20 15:17] #75 closed

[2015-11-20 15:17] #70 closed

[2015-11-20 15:17] #102 closed

[2015-11-22 14:17] webphppro opened #167 "Composer InvalidArgumentException"
Plugin version 1.1.1
composer 'minimum-stability': 'stable'

When I use require like

    "require": {
        ...
        "bower-asset/package_name": "*",
        ...
     }

 for some of packages I get an exception like:

[InvalidArgumentException]
  Package bower-asset/fuelux--9999999.9999999.9999999.9999999 must have a source or dist specified

    "require": {
        ...
        "bower-asset

[2015-11-22 15:02] cebe commented on #167
can you give a concreate example with which package this happens?

[2015-11-22 16:38] webphppro commented on #167
I tried to install

"require": {
    "bower-asset/jquery-ui": "*",
    "bower-asset/angular": "*",
    "bower-asset/angular-resource": "*",
    "bower-asset/angular-sanitize": "*",
    "bower-asset/angular-animate": "*",
    "bower-asset/angular-ui-router": "*",
    "bower-asset/angular-google-maps": "dev-master",
    "bower-asset/restangular": "*",
    "bower-asset/google-maps": "*",
    "bower-a

[2015-11-22 16:58] francoispluchino commented on #167
Because the plugin is not installed in `global` mode. I know, the message isn't clear, because the plugin isn't installed before the installation of dependencies. And so, it's Composer that throws an error, not the plugin.

And also, it's not recommended to use the wildcard, because Composer will get all versions for each packages, and the plugin can not optimize this process. In the end, it will

[2015-11-22 18:11] webphppro commented on #167
I'm not sure if this issue is connected to the plugin or not.
I surely have plugin installed globally.
OS:  Windows 8.1

my composer.json:

{
  "require": {
	"bower-asset/angular-google-maps": "*",
	"bower-asset/bower-jquery-sparkline": "*"
  },
  "extra": {
    "asset-installer-paths": {
      "npm-asset-library": "vendor/npm",
      "bower-asset-library": "vendor/bower"
    }
  }
}

C:\vhost\tes

[2015-11-25 01:38] mrclay opened #168 "Incomplete installations on Travis"
We're installing on Travis-CI and notice that sometimes (probably rate limiting) assets are reported as installed (https://travis-ci.org/Elgg/Elgg/jobs/92918942#L261) but don't contain the build resources (https://travis-ci.org/Elgg/Elgg/jobs/92918942#L606 shows `dist/jquery.js` doesn't exist).

What can we do about this? If all files aren't installed, shouldn't composer report it as a failure?

[2015-11-25 08:16] francoispluchino commented on #168
Because, you don't install the `stable` version of jquery. In `dev`, the `dist` folder doesn't exist. And this plugin downloads only the source.

[2015-11-25 12:24] mrclay commented on #168
Our composer.json does have `"prefer-stable": true`. Is there really no way to use the `"^2.1.4"` syntax?

[2015-11-25 12:26] mrclay commented on #168
Or does resolving that to a particular tag cost a bunch of GitHub API requests...

[2015-11-25 12:34] francoispluchino commented on #168
I just did a test with:

[code]
Reslut:
[code]

The `stable` version with `dist` folder is downloaded.

For your question, you can see the FAQs [How to reduce the number of requests for getting the package definitions?](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/faqs.md#how-to-reduce-the-number-of-requests-for-getting-the-package-definitions).

[2015-11-25 12:40] francoispluchino commented on #168
Same result with `--prefer-source` option:
[code]

It is recommended that add the `--prefer-source` option in your Travis config.

[2015-11-27 17:10] holtkamp commented on #155
Ok, spent some more time on this and I really think this is an issue with BitBucket-support. I created two repositories with equal content on both GitHub and BitBucket (GitHub has a 0.1.1 tag because of a mistake when creating the repo, but that should not matter for this test). Results below.

**Test repository on [GitHub](https://github.com/holtkamp/composer-asset-plugin-test)**
[code]

**Test r

[2015-11-27 21:38] xabbuh opened #169 "Method VersionParser::parseLinks() does not exist anymore"
see the changes in Composer in composer/composer#4214 and composer/composer#4446 (refs composer/composer#4645)

[2015-11-27 21:44] francoispluchino commented on #169
What is your version of this plugin? Because it's already updated with the last version.

[2015-11-27 22:00] xabbuh commented on #169
@francoispluchino Sorry for the noise. I don't use the plugin myself and didn't look carefully enough at the code when looking at the referenced Composer issue.

[2015-11-27 22:00] #169 closed

[2015-11-27 22:01] francoispluchino commented on #169
No problem!

[2015-12-03 15:33] SDKiller opened #170 "Bootstrap 3.3.6 can not be installed together with jQuery 2.1.4"
I have plugin version `1.1.1` and updated to latest composer version.

I've noticed that in my Yii2 project bootstrap is not beeing updated to version `3.3.6` so I tried to define its version explicitly:

[code]

To reproduce you can just:

[code]

As I can see - problem was introduced by twbs bower.json change https://github.com/twbs/bootstrap/commit/9b1a213cf758e1b60e20c59a721a63e13da098f7

[cod

[2015-12-05 18:05] SDKiller commented on #170
Another example to reproduce:

[code]

Output:

[code]

[2015-12-06 12:53] francoispluchino commented on #170
Indeed, there is a problem.

[2015-12-08 09:16] SamMousa opened #172 "Caret versions don't resolve properly when using custom installer path"
Is the `^` properly supported in version constraints?

When doing for example `composer show bower-asset/jquery` I get:
```` 3.0.0-alpha1, 2.1.4, 2.1.3, 2.1.2, 2.1.1, 2.1.1-RC2, 2.1.1-RC1, 2.1.1-beta1, 2.1.0, 2.1.0-RC1, 2.1.0-beta3, 2.1.0-beta2, 2.1.0-beta1, 2.0.3, 2.0.2, 2.0.1, 2.0.0, 2.0.0-beta3, 2.0.0-beta2, 2.0.0-beta1, 1.11.3, 1.11.2, 1.11.1, 1.11.1-RC2, 1.11.1-RC1, 1.11.1-beta1, 1.11.0, 1.11

[2015-12-09 02:57] cebe commented on #172
works for me in an empty directory:

[code]

[2015-12-09 09:10] SamMousa commented on #172
Okay I can confirm the basic case works, there seems to be problems when using a non standard component path. I'll show what I can below.

`composer show bower-asset/moment`:
[code]
Composer.json looks like this:
[code]
Running `composer update` then gives me:
[code]
Removing the `asset-installer-paths` setting and running `composer update` again succeeds.

[2015-12-09 09:11] SamMousa commented on #172
Just for completeness, this is the composer.json from `sam-it/yii1-datatables`:
[code]

[2015-12-11 11:59] psfpro opened #173 "Asset installer paths"
On the project use the following settings:
[code]
The assets are downloaded to ``` vendor/bower/bower-asset ```

This is correct behavior?

[2015-12-11 12:01] francoispluchino commented on #173
Update your composer asset plugin to `v1.1.1`.

[2015-12-11 12:09] psfpro commented on #173
Thank you. Works.

[2015-12-11 12:09] #173 closed

[2015-12-11 13:40] unti1x commented on #141
You could use composer's inline aliases for versions:
[code]

[2015-12-12 12:14] littleguga opened #174 "Call to undefined method: VersionParser::parseLinks()"
Trying command:
``` composer global require "fxp/composer-asset-plugin:~1.0@dev" ```

Fatal error: Call to undefined method Fxp\Composer\AssetPlugin\Package\Version\V
ersionParser::parseLinks() in C:\Users\╘╕фюЁ\AppData\Roaming\Composer\vendor\fxp
\composer-asset-plugin\Repository\VcsPackageFilter.php on line 272

[2015-12-12 12:25] francoispluchino commented on #174
Update your composer (`dev` version).

See #133, #135.

[2015-12-12 15:06] littleguga commented on #174
@francoispluchino thank you. Sorry for the duplicate.

For others: [this method](https://github.com/francoispluchino/composer-asset-plugin/pull/133#issuecomment-145128571) helped me.
For the first step: go to C:\Users\[YOUR USER]\AppData\Roaming\ and delete "Composer" folder.

[2015-12-12 15:06] #174 closed

[2015-12-12 15:11] francoispluchino commented on #174
Or simply use the option `--no-plugins` with `global update`.

[code]

[2015-12-14 08:49] unti1x opened #175 ""asset-repositories" not working for required packages"
In main composer.json required package `myvendor/frontend`, and in `frontend` package have this:

[code]

On `composer update` package `suggestions-jquery` could not be found, but it works well, if required in main composer.json

[2015-12-14 09:35] francoispluchino commented on #175
Because the `extra.asset-repositories` does work only in the root composer package (see the [doc](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/schema.md)).

[2015-12-14 09:45] unti1x commented on #175
Oh, I see... Thanks.

[2015-12-14 17:40] #175 closed

[2015-12-15 17:42] fairchild88 commented on #157
Should change value of "fxp/composer-asset-plugin" in global composer.json file to "dev-master"

[2015-12-16 17:02] leandrogehlen opened #176 "Overriding repository dependencies"
I have follow situation:

project: **php-base** - composer.json:
[code]
When i run composer, he install the correct assets from overrided repository in this case `https://github.com/leandrogehlen/select2.git`.

But if i use the `php-base` in other project like:

project: **php-other** - composer.json
[code]
In this case the follow error occurs:
`bower-asset/select2 @dev -> no matching package foun

[2015-12-16 17:05] francoispluchino commented on #176
Because the `extra.asset-repositories` option is only used in your root composer package, see the [doc](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/schema.md#extraasset-repositories-root-only).

[2015-12-16 17:08] leandrogehlen commented on #176
Ok, you are right
doc:

But doesn't necessary to implement this feature?

[2015-12-16 17:14] francoispluchino commented on #176
This is a limitation of Composer, not the plugin ... But it might be possible to do it anyway, the same way that the plugin create VCS Repositories for dependencies with the direct links (but I still doubt).

[2015-12-16 17:20] leandrogehlen commented on #176
Ok, thanks, but my problem is solved. I will add the configurations in main project like you told me.

[2015-12-16 17:23] francoispluchino commented on #176
Ok, cool :)

[2015-12-16 17:23] #176 closed

[2015-12-26 12:48] nadar opened #178 "composer asset plugin in require section ignores asset-installer-paths"
I may have read it somewhere already, but i just want to be sure this wont work:

[code]

Adding fxp/composer-asset-plugin in require section and define asset-installer-paths will ignore the extra options and copy the content to the default path "vendor/bower-asset"?

[2015-12-26 13:24] francoispluchino commented on #178
Extra section is only used by the root Composer package.

[2015-12-28 11:35] mbman opened #179 "Circular call to script handler - composer 1.0.0-alpha11"
Doesn't work with composer version `1.0.0-alpha11` - throws a `Skipped tag v1.2.3, Circular call to script handler 'fxp.composer.add.vcs.repositories' detected` error. Works fine with earlier composer versions.

[2015-12-28 12:44] francoispluchino commented on #179
It's 'normal', because the plugin require the last `dev` version of Composer (see the [release note](https://github.com/francoispluchino/composer-asset-plugin/releases/tag/v1.1.1)).

[2015-12-28 12:45] #179 closed

[2016-01-04 09:38] supravatweb opened #180 "Class name must be a valid object or a string"
Why  getting the following error?

Creating migration...
PHP Fatal error:  Class name must be a valid object or a string in /var/www/html/demo_laravel/vendor/amsgames/laravel-shop/src/Commands/MigrationCommand.php on line 132

  [Symfony\Component\Debug\Exception\FatalErrorException]
  Class name must be a valid object or a string

[2016-01-04 09:58] francoispluchino commented on #180
Is it this plugin???

[2016-01-04 17:57] holtkamp commented on #155
ping ? See my last comment and examples, can somebody confirm this might be a bug with BitBucket repos?

[2016-01-05 09:41] #178 closed

[2016-01-05 15:07] cebe commented on #180
I very much doubt it...

[2016-01-08 15:47] flodi opened #181 "Requirejs question"
This maybe is a n00b question, but I'm just learning bower right now.

I've all installed and working, composer maintain bower packages, and so on. I was using it including css and scripts directly from vendor/bower-asset/... when I noticed the requirejs folder.

This means that composer-asset-plugin create a requirejs-bower configuration? It does not seems the case, because I do not see a config.

[2016-01-08 16:09] francoispluchino commented on #181
This plugin does not create a `requirejs-bower` config. It's maybe a used dependencies in your project.

[2016-01-08 17:06] flodi commented on #181
Dho. Now it is clear :-(

[2016-01-17 12:44] oraluben opened #182 "case sensitive issue"
Base64 and base64 are different package in NPM.
I found that composer-asset-plugin will only search package by lower case, so if I want Base64, I will get the wrong package.
I found this error when I was trying install webpack from NPM.

[2016-01-17 13:17] francoispluchino commented on #182
See #70. It's the same problem for NPM, because Composer is not case sensitive.

You must override the package with your custom VCS Repository. Example with Boxer and boxer:

[code]

[2016-01-17 13:53] oraluben commented on #182
Oh... Thanks for responding this duplicate issue. I will have a try.

[2016-01-17 13:54] francoispluchino commented on #182
No problem :).

[2016-01-17 13:54] #182 closed

[2016-01-18 08:56] SamMousa opened #183 "Resolving location of assets."
When creating a library that depends on external assets what is the "recommended" way of doing things?

- Should I require the plugin? (I don't think most projects do this, like Yii2, but instead they document that it should be installed globally)
- Should I read the root composer.json file to find out where the assets are located?

Ideally the plugin would provide a method that resolves the asset

[2016-01-18 10:26] francoispluchino commented on #183
Unfortunately, you must stated in the documentation to install the plugin in mode `global` (see #7).

Regarding the resolution of assets, I have already develop this feature:
- the library [fxp/require-asset](https://github.com/francoispluchino/fxp-require-asset)
- the bundle for Symfony2/3 [fxp/require-asset-bundle](https://github.com/francoispluchino/FxpRequireAssetBundle)

The library using Ass

[2016-01-18 10:57] SamMousa commented on #183
For me it's unclear how fxp/require-asset actually assists in finding the asset directory; in the docs I see stuff like this:
[code]

Which basically means I still have to know..

[2016-01-18 11:11] francoispluchino commented on #183
It's the bundle that generate automatically the config (see the [compiler pass](https://github.com/francoispluchino/FxpRequireAssetBundle/tree/master/DependencyInjection/Compiler) and particularly [ComposerAssetsPass](https://github.com/francoispluchino/FxpRequireAssetBundle/blob/master/DependencyInjection/Compiler/ComposerAssetsPass.php)).

I have not developed this feature for the library becaus

[2016-01-18 12:50] SamMousa commented on #183
Ah okay, so basically the `installed.json` file in the composer directory contains all we need.
So the next question becomes how to detect composer installation directory..

And your bundle does this via the container:
[code]

Would it not be better to just use the autoloader class as an "anchor"?

[code]

That will always work regardless of "parent" framework. And then we could use that to get `i

[2016-01-18 12:57] francoispluchino commented on #183
Yes, we can use the reflection of `ClassLoader`, and move the findAssetPackages in library (to static util class?).

[2016-01-18 13:05] SamMousa commented on #183
Yes, that would be great for non-symfony users :)

[2016-01-18 13:09] francoispluchino commented on #183
I think I will create an independent library for resolving the paths and which can be integrated in any project.

[2016-01-18 13:16] SamMousa commented on #183
Okay great, I don't think it needs to be much of a library though ^^

Probably something like the `PackageUtils` class: https://github.com/francoispluchino/fxp-require-asset/blob/master/Assetic/Util/PackageUtils.php

Anyway, thanks for the prompt responses! Let me know if you need more input.

[2016-01-18 13:18] francoispluchino commented on #183
It's not possible, because the class will not be loaded by the Classloader.

[2016-01-18 13:53] SamMousa commented on #183
I don't mean it must be that exact class, just something like that; simple static class with a few helper functions.

[2016-01-21 14:47] lichunqiang opened #184 "The package did not cached?"
Why everytime run the command and will download the packages again?

It's can like `bower` itself will cache the downloaded depends?

This made me crazy, It's no usage to download again, because of the version is not changed.

Tanks.

[2016-01-21 14:49] francoispluchino commented on #184
The packages and dist are cached. Not the list of package versions.

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 14:57] lichunqiang commented on #184
[code]
Why download jquery again,a new version found?

[2016-01-21 15:04] lichunqiang commented on #184
LOL...

[2016-01-21 15:05] francoispluchino commented on #184
You have a problem with your account? Because create more than 33 times the same comment is abused!

[2016-01-21 15:07] #184 closed

[2016-01-22 01:19] lichunqiang commented on #184
@francoispluchino

I'm in china, the network is blocked, you know.

sorry for that....

[2016-01-22 01:22] lichunqiang commented on #184
This is the reason why i want to know if will cache the depends like `bower`.

bower install package is fast.

[2016-01-22 01:24] francoispluchino commented on #184
See the issues with the `performance` tag [here](https://github.com/francoispluchino/composer-asset-plugin/issues?q=is%3Aissue+is%3Aclosed+label%3Aperformance).

[2016-01-24 09:29] emaijala opened #185 "Unable to install google-closure-compiler"
Composer is unable to install google-closure-compiler package with the composer-asset-plugin due to a version number parsing issue. I found the actual issue to be in Composer's SemVer component, but it seems they're reluctant to change it (see https://github.com/composer/semver/issues/32). So here goes in case there's something that could be done in composer-asset-plugin to remedy the issue.

Here

[2016-01-26 08:03] dogrocker opened #186 "Problem with bower-asset/hoypido-js-marker-clusterer"
I try to use `hoypido-js-marker-clusterer` by

[code]

got the error

[code]

But if I install

[code]

It work.

Info.

[code]

[code]

[2016-01-26 09:41] dogrocker commented on #186
Don't know the real problem are, So I've forked and register it to bower repo and now it work.

May be the `tag` is the problem?

[code]

[2016-01-28 18:38] manoj-nandakumar commented on #180
Its not this plugin as i have also reproduced the same with a fresh installation of laravel.
check if u had properly named all the files that u have created. I had the same issue with a model file being named as *.phe instead of *.php

[2016-01-28 20:14] cebe commented on #180
@francoispluchino I think this should be closed.

[2016-01-28 20:15] #180 closed

[2016-01-28 20:39] manoj-nandakumar commented on #180
I Found a solution when i again tried to reproduce the error. Its mostly to do with the Entrust's incomplete documentation. The document says to add

  Zizaco\Entrust\EntrustServiceProvider::class

to the aliases arrayin config/app.php. Instead add this to the providers array.

Open config/app.php and find the providers key. Add EntrustServiceProvider to the array.

    ...
        Zizaco\Entrust\

[2016-02-09 06:35] nazar-pc opened #187 "Strange issue with failed git cloning"
My `composer.json` is as following:
[code]
But I'm getting strange issue with NPM package `html5sortable`. I can install it using regular npm cli, I can easily clone it with git command as below, but when using this plugin constantly getting this:
[code]

Tried latest Alpha build of Composer as well as git version. There is no such problem with other Bower/NPM packages.

[2016-02-09 09:55] francoispluchino commented on #187
Do you have the problem with the `--prefer-dist` option?

[2016-02-09 15:34] nazar-pc commented on #187
Yes, it was actually called with `--prefer-dist`.

[2016-02-10 11:03] AstRonin opened #188 "Plugin looking repo in lowercase"
In composer.json I write:
_"bower-asset/jQuery-contextMenu": "*",_ - https://github.com/swisnl/jQuery-contextMenu, last v2.1.0

but `composer update` brings other repo:
_Installing bower-asset/jquery-contextmenu (v0.5.2)_ - https://github.com/nitinuttarwar/jquery-contextmenu

[2016-02-10 11:05] SDKiller commented on #188
@AstRonin

https://github.com/francoispluchino/composer-asset-plugin/issues/70

[2016-02-10 11:07] francoispluchino commented on #188
And precisely [this comment](https://github.com/francoispluchino/composer-asset-plugin/issues/70#issuecomment-64776637) for the solution.

[2016-02-11 15:32] jmontoyaa commented on #170
Maybe the problem is that in bootstrap they use the letter "v" in the name of the tag "v3.3.x"?
jquery just use numbers ...

[2016-02-11 15:40] SDKiller commented on #170
@jmontoyaa

As far as I see, the problem is in different interpretation of hyphen ranges with `composer` and `bower` / `npm`.

For `composer` range `1.9.1 - 2` means `">= 1.9.1 and <= 2.0.0"`
And for `bower` / `npm` - `">= 1.9.1 and < 3.0.0"`

[2016-02-17 22:32] svasilkov commented on #157
@fairchild88 ty it helped

[2016-02-18 11:46] AstRonin commented on #188
Issue closed, [solution](https://github.com/francoispluchino/composer-asset-plugin/issues/70#issuecomment-64776637) works

[2016-02-18 11:46] #188 closed

[2016-02-21 19:11] kirkmadera commented on #93
The fxp/composer-asset-plugin works well for us. We get around the issue of the plugin needing to be installed first by building it into a generalized build script that runs composer install twice if the vendor directory is empty.

It's much preferred to install fxp/composer-asset-plugin within the project rather than globally. We kept running into Composer + fxp/composer-asset-plugin compatibilit

[2016-02-22 01:37] mervick opened #189 "The requested package could not be found in any version"
No found bower package

[code]

[code]

[2016-02-22 07:34] cebe commented on #189
works for me:

[code]

[2016-02-22 10:10] nwoetzel opened #190 ""Your GitHub credentials are required to fetch private repository metadata""
with v1.1.1 of the plugin, when I call
`composer require npm-asset/less`
I get the following output:

I am not quite sure, where the repository 'git://github.com/palmerabollo/joi-v1' is required.
There are no tags in that repo - could that be the reason why it requires the access token?
Is there a way to find out which package in the dependency tree of less might require it?
Am I doing something w

[2016-02-22 10:34] cebe commented on #190
I am not 100% sure what exactly caused this message but it may also be that you hit the github API rate limit and need to add your github account to be authenticated for a higher rate limit, see https://getcomposer.org/doc/articles/troubleshooting.md#api-rate-limit-and-oauth-tokens

[2016-02-22 10:40] nwoetzel commented on #190
No I just figured out, what the issue might be
when traversing the dependencies, it somehow sees that it needs to check
https://github.com/palmerabollo/joi-v1
but this repo does not exist (or is reaaly private to the user palmerabollo)
the correct one would be:
https://github.com/palmerabollo/joy-v1
which I can clone (note _joi_ vs _joy_)

I guess I have to manually overwrite the repo for the joi-

[2016-02-22 10:55] cebe commented on #190
looks like that is the problem, yes.

[2016-02-22 11:30] #183 closed

[2016-02-22 11:31] SamMousa commented on #183
Will you still do that?

[2016-02-22 11:34] francoispluchino commented on #183
Considering the last comments,, is it really useful?

[2016-02-22 11:41] SamMousa commented on #183
The comments refer to the global installation, but if there is a separate small footprint library that allows for resolution of asset paths then that library could be included in project-specific composer.json right?

[2016-02-22 12:21] palmerabollo commented on #190
I'm the owner of palmerabollo/joy-v1, let me see what could be happening because it should be public.

[2016-02-22 12:25] cebe commented on #190
seems something in bower depends on `palmerabollo/joi-v1` instead of `palmerabollo/joy-v1`

[2016-02-22 12:28] palmerabollo commented on #190
My fault. I've already renamed the repo to **joi-v1** in github, which is the correct name. The published npm module is all right (joi-v1 too). Sorry, guys.

[2016-02-22 12:42] nwoetzel commented on #190
@palmerabollo
Thanks

@others
Still, should there not be a failsafe in this plugin for those circumstances. It seems that there is no guarantee that modules listed at bower.io or npmjs.com are actually still present in their repositories. (Due to renaming, or deletion of repos or any other reason)
If this happens for assets that I directly require - I will just not use the asset. But for dependenc

[2016-02-22 12:54] cebe commented on #190
if a dependency does no longer exist, the required package will no longer work and should release a new version with updated dependencies in bower.json

[2016-02-22 14:04] nwoetzel commented on #190
@cebe
I agree that it is the package maintainers or communities responsibility to maintain packages and dependencies.
Is the mechanism in this plugin slightly different than using the "native" package manager (meaning getting them from the repo urls instead of getting them from the package source?)
I guess it boils down to the question: Should there be a difference between
`npm install less`
and
`

[2016-02-22 14:04] nwoetzel commented on #190
I can fix `npm-asset/less` by manually adding vcs repos that cause errors as described here: https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/index.md#overriding-the-config-of-a-vcs-repository

My composer.json looks like:
[code]
Just as a reference in case somebody else likes to install `npm-asset/less` with that plugin.

[2016-02-22 14:11] nwoetzel commented on #190
Since my main problem is solved, I think the best is to close this issue.
Thanks for all your help, it is appreciated!

[2016-02-22 14:11] #190 closed

[2016-02-25 07:12] iushev opened #191 ""Illegal offset type in isset or empty" after update composer."
I update composer to version `dc2f201152f37c2563e328531a6af349ac287cce` with command `sudo composer self-update` .
`composer -V`
`Composer version 1.0-dev (dc2f201152f37c2563e328531a6af349ac287cce) 2016-02-24 19:54:01`
After that I execute `composer update` and reserve this exception:
`  [ErrorException]
  Illegal offset type in isset or empty`.

This is trace:
Exception trace:
 () at phar:///usr/

[2016-02-25 08:20] itnelo commented on #191
I got same error right now after updating composer to version dc2f201152f37c2563e328531a6af349ac287cce

composer update -vvv

Reading ./composer.json
Loading config file /Path/To/.composer/config.json
Loading config file /Path/To/.composer/auth.json
Loading config file ./composer.json
Checking CA file /opt/local/share/curl/curl-ca-bundle.crt
Executing command (/Path/To/project): git describe --exa

[2016-02-25 08:36] francoispluchino commented on #191
Update the composer and global dependencies without plugin option:
[code]

If you still have an error is that the plugin is not the last vresion:
[code]

[2016-02-25 08:42] francoispluchino commented on #191
Ok, I just did a test. Composer has still changed!

[2016-02-25 12:24] francoispluchino commented on #191
Solution found! I fix many tests and push just after.

[2016-02-25 13:36] iurijacob commented on #191
I´m struggling on the same issue with composer version 406e087a46e23efc082d08513b787d4f96e19691. Look:

composer -vvv update

Reading ./composer.json
Loading config file /root/.composer/config.json
Loading config file /root/.composer/auth.json
Loading config file ./composer.json
Checking CA file /etc/pki/tls/certs/ca-bundle.crt
Executing command (/workspace/mentor): git describe --exact-match --ta

[2016-02-25 13:37] francoispluchino commented on #191
Thanks to wait please.

[2016-02-25 13:44] francoispluchino commented on #191
Fixed by 89cf36bb7ea9959a845f3c91457bd40804b04d80.

[2016-02-25 13:44] #191 closed

[2016-02-25 13:58] sallfris commented on #191
Composer version 1.0-dev (406e087a46e23efc082d08513b787d4f96e19691) 2016-02-25 13:10:46

composer update -vvv

Reading ./composer.json
Loading config file /root/.composer/config.json
Loading config file /root/.composer/auth.json
Loading config file ./composer.json
Checking CA file /etc/ssl/certs/ca-certificates.crt
Executing command (/var/www/html/ssanadmin): git describe --exact-match --tags
Exec

[2016-02-25 14:15] sallfris opened #192 ""Illegal offset type in isset or empty""
Composer version 1.0-dev (406e087a46e23efc082d08513b787d4f96e19691) 2016-02-25 13:10:46

composer update -vvv

Reading ./composer.json
Loading config file /root/.composer/config.json
Loading config file /root/.composer/auth.json
Loading config file ./composer.json
Checking CA file /etc/ssl/certs/ca-certificates.crt
Executing command (/var/www/html/ssanadmin): git describe --exact-match --tags
Exec

[2016-02-25 14:23] matjack1 commented on #191
Try to reinstall from master if you still have problems:

`composer global require "fxp/composer-asset-plugin:dev-master"`

[2016-02-25 14:27] #192 closed

[2016-02-25 14:28] execut commented on #192
[code]

[2016-02-25 14:30] execut opened #193 "Illegal offset type in isset or empty"

[2016-02-25 14:31] #193 closed

[2016-02-25 14:32] execut commented on #193
fixed by update plugin
composer global require "fxp/composer-asset-plugin:dev-master"

[2016-02-25 14:35] toxor88 commented on #191
After reinstall it works. Thank you!

[2016-02-25 15:04] francoispluchino commented on #191
I will fix the travis bug, and I will release new version just after.

[2016-02-25 15:08] holtkamp commented on #191
is it possible this issue still persists?

Did a re-install of ```composer-asset-plugin``` at global level using the master branch.

With the ```Composer version 1.0-dev (04a1085d4748dbe14684d70a88fae7d087346a54) 2016-02-25 14:39:50``` this still results in an error.

Only way to get Composer working again is by rolling back:

[code]

[2016-02-25 15:31] francoispluchino commented on #191
Update plugin to `dev-master`:
[code]

[2016-02-25 16:24] wrt54gl opened #194 "[ErrorException] Illegal offset type in isset or empty"
I initially reported this bug here: [https://github.com/composer/composer/issues/4957](url)

They say the problem is the composer asset plugin.

On a debian 8 server with the latest composer.phar I get the following error when I try to update a yii2 project:

[code]

the update works fine if I use V1.0.0 alpha 11. This is using PHP 5.6 and PHP 7

[2016-02-25 16:26] francoispluchino commented on #194
Duplicate with #191.

See update instruction: https://github.com/francoispluchino/composer-asset-plugin/issues/191#issuecomment-188842380.

[2016-02-25 16:26] #194 closed

[2016-02-25 16:44] francoispluchino commented on #191
A new stable version [v1.1.2](https://github.com/francoispluchino/composer-asset-plugin/releases/tag/v1.1.2) was released.

[2016-02-26 09:07] holtkamp commented on #191
@francoispluchino https://github.com/francoispluchino/composer-asset-plugin/issues/191#issuecomment-188827654 was when having the plugin to updated ```dev-master```.

Just upgraded to the stable ```1.1.2``` version of the the plugin and updated Composer to ```version 1.0-dev (269e545921f738d41fafea9bf87ba39c27691307) 2016-02-26 00:05:09```. And still the error occurs.

When rollin back Composer to

[2016-02-26 09:19] francoispluchino commented on #191
@holtkamp My test for:

[code]

[code]
[code]
[code]

[code]

[2016-02-26 09:22] francoispluchino commented on #191
@holtkamp see the requirement section of the release note of [v1.1.2](https://github.com/francoispluchino/composer-asset-plugin/releases/tag/v1.1.2).

[code]
So, you cannot use the plugin with obsolete version of Composer.

[2016-02-28 16:40] #7 closed

[2016-02-28 16:40] #6 closed

[2016-02-28 16:42] #118 closed

[2016-02-28 16:43] #141 closed

[2016-02-28 16:43] #153 closed

[2016-02-28 16:43] #139 closed

[2016-02-28 16:44] #155 closed

[2016-02-28 16:44] #163 closed

[2016-02-28 16:44] #167 closed

[2016-02-28 16:45] #168 closed

[2016-02-29 10:58] bigbear1989 opened #195 "ser update"

[2016-02-29 13:20] francoispluchino commented on #195
No description.

[2016-02-29 13:20] #195 closed

[2016-03-01 03:43] niwat-panrit commented on #191
Update composer and its global dependencies solve this issue. Thank

[2016-03-02 06:57] arkhamvm commented on #191
Still getting the error:

`Composer version 1.0-dev (ef6b7cdf12dc0331ed1aa9fde8be04e18c8e07e2) 2016-03-01 14:37:55`
`$ composer global require fxp/composer-asset-plugin:dev-master --no-plugins`

`composer -vvv update

[ErrorException]
  Illegal offset type in isset or empty

Exception trace:
 () at phar:///usr/local/bin/composer/src/Composer/Package/Version/VersionParser.php:26
 Composer\Util\Erro

[2016-03-02 09:39] holtkamp commented on #191
@arkhamvm, does the project you use composer for to update also use the ```fxp/composer-asset-plugin```? Maybe you need to remove it from your project's ```composer.json``` run an update and then re-install it again... That was the issue I had...

[2016-03-03 00:40] arkhamvm commented on #191
@holtkamp, yes, but i got the same error when run update without `fxp/composer-asset-plugin` in composer.json.

[2016-03-04 07:48] rubenheymans opened #196 "Composer keeps asking for hidden token"
Everytime I update composer I have to enter a Token generated on github.
This happened after github.com/RamonSmit/Nestable.git became a private repo.
I removed all references to this repo.

[More info](http://stackoverflow.com/questions/35405128/composer-hidden-token)

[2016-03-04 14:05] gossi opened #197 "Requested packages cannot be found... needs installation of plugin first ?"
Hi,

This is my require section:

[code]

When I run composer install, I get this following error messages:

[code]

My workaround here is, to remove the `bower-asset` requirements from composer.json, run install, then readd them and run composer update. That way the plugin is installed first and then all assets.

I'm wondering if that is the supposed way to do that? If not, what am I doing wrong?

[2016-03-04 14:14] francoispluchino commented on #197
Plugin must be installed global mode, not in project mode.

[2016-03-04 20:45] gossi commented on #197
I guess there is no chance to make this available on a project level?

[2016-03-05 08:56] francoispluchino commented on #197
No, alas..

[2016-03-05 15:00] mdmunir commented on #189
does not work for me. Using at extension, not at root.
[code]
trying `"bower-asset/handsontable": "0.23.*@stable"` also not work

[2016-03-05 16:10] gossi commented on #197
I understand the composer plugin workflow doesn't allow this. Thanks for the help.

[2016-03-05 16:12] #197 closed

[2016-03-06 11:34] sasedev opened #198 "npm-assets not working : Composer\Downloader\TransportException Your configuration does not allow connection to http://registry.npmjs.org. See https://getcomposer.org/doc/06-config.md#secure-http for details."
composer.json example:
_...
	"require" : {
...
		"npm-asset/angular-chosen" : "~1.0",
..._

**composer.phar update -vvv**
...
Analyzed 7348 packages to resolve dependencies
Analyzed 249809 rules to resolve dependencies
  - Installing npm-asset/angular-chosen (1.0.8)
Downloading http://registry.npmjs.org/angular-chosen/-/angular-chosen-1.0.8.tgz
    Downloading: Connecting...    Download failed, re

[2016-03-06 13:38] cebe commented on #198
npm registry is available via https so it should be possible to fix this. https://registry.npmjs.org/

[2016-03-06 13:39] cebe commented on #198
@sasedev as a workaround you may use this: https://getcomposer.org/doc/06-config.md#secure-http

[2016-03-06 20:00] sasedev commented on #198
but why is it connecting to http://registry.npmjs.org instead of https://registry.npmjs.org ?
this problem start appearing with this issue https://github.com/francoispluchino/composer-asset-plugin/issues/191
as you suggested it worked with:

...

	"config" : {
		"bin-dir" : "bin",
		"component-dir" : "vendor",
		"platform" : {
			"php" : "5.5.9"
		},
		"secure-http" : false
	},
...

but why do i h

[2016-03-07 13:53] cebe commented on #198
good question, the url in the code contains HTTPS: https://github.com/francoispluchino/composer-asset-plugin/blob/f84731b714c4c8dc090c629b631c1fc7bd235d95/Repository/NpmRepository.php#L40

[2016-03-07 14:28] mougrim commented on #198
I think this problem becouse urls with http on registry.npmjs.org, for example https://registry.npmjs.org/node-uuid/ contains http url:
`"tarball":"http://registry.npmjs.org/node-uuid/-/node-uuid-1.2.0.tgz"`
May be change http to https?

[2016-03-07 14:51] mougrim commented on #198
My fix for this issue https://github.com/francoispluchino/composer-asset-plugin/pull/199

[2016-03-08 19:02] dasturchiuz opened #200 "Problem 1"
[code]

[2016-03-09 12:15] pmaselkowski opened #201 "Handle VCS endpoint-defined package"
When installed package has endpoint-defined dep it fails with unclear error message:

[code]

Note: url `https://bower.herokuapp.com/packages/player-api` returns 404 but it's still being parsed.

My proposal is to either handle installing from endpoint (probably complicated), or at least display more meaningful message, like "*Package `player-api` not found while installing `maslosoft-playlist`*".

[2016-03-09 12:19] pmaselkowski commented on #191
If you use local `fxp/composer-asset-plugin` try to run local update without plugins, this helped me: `composer update --no-plugins`

[2016-03-09 16:00] cebe commented on #200
The package does not have a version 1.2.7 according to packagist: https://packagist.org/packages/p2made/yii2-sb-admin-theme also not a bower or npm package so it is not related to this plugin anyway.

[2016-03-10 02:23] kminooie opened #202 "recent version (1.1.2) seems to be having problem resolving requirementa"
I do have latest fxp/composer-aset-plugin (v1.1.2) but when I try to force jquery 1.11 in my YII2  project by adding this line
"bower-asset/jquery": "1.11.*@stable"
to composer.json file, I end up getting this error:

This used to work before, I don't know if it is the recent updates in composer or in fxp/composer-asset-plugin but it has stopped working.

my current composer version is "Composer v

[2016-03-10 16:55] Nayjest commented on #202
I have same issue. Yesterday it worked fine, today can't update anything. For npm packages same situation.

[2016-03-10 18:39] cebe commented on #202
forcing a downgrade when you have already installed packages does not work. this is an optimization that makes the plugin a lot faster and is documented here: https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/faqs.md#composer-throws-an-exception-stating-that-the-version-does-not-exist

[2016-03-11 11:57] Nayjest commented on #202
@cebe Tried all, does not helps. For new packages same. I added first random dependency from bower ("bower-asset/tfeslee-temp": "*") and got:
[code]

"min-stability: dev" does not helps too.

[2016-03-11 18:27] BBrunekreeft commented on #191
`composer global require fxp/composer-asset-plugin:dev-master --no-plugins`
That worked. Thanks!

[2016-03-17 04:13] brad-jones commented on #197
Could this be made clearer in the docs: https://github.com/francoispluchino/composer-asset-plugin/blob/master/Resources/doc/index.md

__Project scope installation__ suggests that this is possible when in fact it has to be installed globally.

[2016-03-17 08:22] francoispluchino commented on #197
@brad-jones This section rather must be deleted.

[2016-03-23 06:07] dhimancontact commented on #191
Great it worked for me...

Update plugin to dev-master:

$ composer global require fxp/composer-asset-plugin:dev-master --no-plugins

[2016-03-23 06:07] dhimancontact commented on #157
Great it worked for me...

Update plugin to dev-master:

$ composer global require fxp/composer-asset-plugin:dev-master --no-plugins

[2016-03-23 14:50] sadranyi commented on #89
try adding the snippet below to your composer.json file.
be sure to remove and add the quotes again this is an encoding issues :)
hop it helps

“repositories”: {
“packagist”: { “url”: “https://packagist.org”, “type”: “composer” }
}

[2016-03-23 18:56] tcitworld commented on #196
Github no longer requires tokens to download releases.

[2016-03-24 07:56] rubenheymans commented on #196
this didn't change anything, it's still asking for a token

[2016-03-25 10:47] tgamanov commented on #191
"francoispluchino commented 29 days ago
Update the composer and global dependencies without plugin option:

$ composer selfupdate
$ composer global update --no-plugins
If you still have an error is that the plugin is not the last vresion:
$ composer global require fxp/composer-asset-plugin:"^1.1.0" --no-plugins"

Thanks man, it helped.

[2016-03-28 07:08] zorobabel commented on #191
@matjack1 Your solution worked for me, thanks!

Sometimes composer shows _"cryptic"_ messages, they remind me to the messages that Linux displays when the computer is booting :/

[2016-03-30 14:25] psfpro opened #203 "Bower search problem"
Bower search don't work now for packages like "jQuery-QueryBuilder"
https://bower.herokuapp.com/packages/search/jquery-querybuilder
Now we have "Package not found" response. Composer do strtolower for package names.

[2016-03-30 14:28] francoispluchino commented on #203
Duplicate. See #70, and precisely [this comment](https://github.com/francoispluchino/composer-asset-plugin/issues/70#issuecomment-105926769).

[2016-03-30 14:28] #203 closed

[2016-03-30 15:00] norbe opened #204 "The "https://bower.herokuapp.com/packages/search/XY" file could not be downloaded (HTTP/1.1 404 Not Found)"
Hi,

we are using this plugin shortly and from today I'm not able to update or install any package becouse of 404 error:

  [Composer\Downloader\TransportException]
  The "https://bower.herokuapp.com/packages/search/responsivefilemanager" file could not be downloaded (HTTP/1.1 404 Not Found)

Is there some way how to prevent search on heroku? It's totally useless as we have specified our url for r

[2016-03-30 15:51] aviator-ua commented on #204
The same error. Looks like bower search engine case sensitive again.

[2016-03-31 13:35] norbe commented on #204
Today it works again.

But it do not change anythink that I do not understand why it is searched on bower sites if I have specified repository url and why is not 404 status handled correctly (it should continue with resolving). But I'm not sure, is it problem of this plugin or composer itself?

[2016-04-01 13:34] weph opened #207 "Latest composer version breaks composer-asset-plugin"
Apparently the latest composer version (cb8587cdade3cdbe00b8d6d2488458a2b6c0a592) has changed the signature of the whatProvides method:

`  [ErrorException]
  Declaration of Fxp\Composer\AssetPlugin\Repository\AbstractAssetsRepository::whatProvides() should be compatible with Composer\Repository\ComposerRepository::whatProvides(Composer\DependencyResolver\Pool $pool, $name, $bypassFilters = false)

[2016-04-01 13:44] francoispluchino commented on #207
See PR #205 and #206.

[2016-04-01 15:02] francoispluchino commented on #207
Fixed by #205.

[2016-04-01 15:02] #207 closed

[2016-04-01 15:03] francoispluchino commented on #198
Fixed by #199.

[2016-04-01 15:03] #198 closed

[2016-04-01 15:06] #181 closed

[2016-04-04 06:58] schmunk42 opened #208 "Proposal: Issue warning about packages with more than 500 releases"
I noticed long running updates for some of our projects because of including bower packages with thousands of releases, `angular` in our case.

I think it would be a good idea this show a warning when having more than 500 tags/releases, because it will take a lot of time during updates, unless caching (https://github.com/francoispluchino/composer-asset-plugin/issues/116) is improved.

Example outp

[2016-04-04 08:00] francoispluchino commented on #208
Why not.

[2016-04-04 09:55] leitasat commented on #191
The solution by @matjack1 also worked for me. Is not is possible to include it in self-update somehow?

[2016-04-08 14:31] tschechniker opened #209 "Unable to download Dependency"
Hi,

i want do download bootstrap via bower. Composer says "Your requirements could not be resolved to an installable set of packages."

Here is the debug log:

Downloading https://bower.herokuapp.com/packages/bootstrap using proxy
Writing C:\xampp\Composer/cache/repo/https---bower.herokuapp.com-packages/bootstrap-3c71cc99d2fc1c12a3d3e1b27e448ca612a89a1d-package.json into cache
Adding VCS reposito

[2016-04-12 12:57] itstueben opened #210 "Private Repository"
It is possible to connect to a private repository?  (https://github.com/Hacklone/private-bower)
I dont want to connect directly to the svn Repo.

[2016-04-12 14:05] francoispluchino commented on #210
Yes, of course. See the _Features included_ in the [readme](https://github.com/francoispluchino/composer-asset-plugin#features-include).

[2016-04-13 05:38] itstueben commented on #210
Jeah kewl. But how? I only found the  "asset-repositories": ´but this is how to implement an VCS Repo directly. I want to connect to to private Bower Server!
How can i solve that?

[2016-04-13 07:27] francoispluchino commented on #210
This plugin only works with the direct private repositories (Git, GitHub, Git Bitbucket, Mercurial, Mercurial Bitbucket, SVN, Perforce), but not work with custom registries of repositories.

But it is simple to create an another registry for the private Bower registry (see [BowerRepository](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Repository/BowerRepository.php)).

Any

[2016-04-15 09:56] aalonzi commented on #157
Also work for me:
$ composer global require fxp/composer-asset-plugin:dev-master --no-plugins

[2016-04-15 20:06] schmunk42 opened #211 "Can not install bower-asset: angular-filemanager"
I tried to run:

[code]

And got this error:

[code]

The latest version here is `1.4.8`. That's basically the first error, it should not choose the non-existing constraint `^1.5`

So I tried:

[code]

[code]

What's required is actually `bootswatch` version `3.3.6+1`, see https://github.com/joni2back/angular-filemanager/blob/master/bower.json#L26

Versions

[code]

[2016-04-15 21:20] schmunk42 commented on #211
Addon, I tried also

[code]

and `composer update` but this installs: `4f96596` from 2012(?!) https://github.com/thomaspark/bootswatch/commit/4f96596

[2016-04-16 14:34] hemc4 opened #212 "composer force to use https protocol for github not working"
[code]

I using

`/usr/bin/composer.phar global require fxp/composer-asset-plugin:~1.0.3`  and setting the config as  `/usr/bin/composer.phar config --global github-protocols https`   and still install is calling the url's with git protocol.

[2016-04-17 04:45] dbd5 opened #213 "The risk of running composer update as root"
Hi;

When you attempt to run composer as root, you get the following error - which is OK;
Running composer as root/super user is highly discouraged as packages, plugins and scripts cannot always be trusted;

In the last few days however, I have have had the following error repeatedly and each time, if I elevate privileges to root and run, the update occurs flawlessly. The question therefore is - i

[2016-04-17 04:53] cebe commented on #213
could it be that you have installed the composer asset plugin for the root user only?

[2016-04-17 06:22] dbd5 commented on #213
@cebe this is unlikely as I began to see this error only about 3 days ago and ordinarily I would not do composer update as root but I tried it as a work around because there are many stackoverflow comments on composer not updating correctly for regular user. How can I troubleshoot this?

[2016-04-17 06:41] cebe commented on #213
1. update composer and the asset plugin to the latest version. Composer update as root, if you have a global install of it, but the asset plugin as normal user.
I would never run composer itself as root as you are mixing different environments then.
2. run composer update as normal user and see if it works.
3. if that did not work, remove composer.lock and vendor directory and run composer update

[2016-04-18 13:36] nparziale commented on #186
Hey @dogrocker , sorry about that. I'm Nico founder of HoyPido, you shoulnd't use 'hoypido-js-marker-clusterer'

[2016-04-18 15:55] xpunsterx opened #214 "Problem with composer update"
I have:
[code]
try to use:
`composer update`

and got the error:
[code]

[2016-04-19 09:00] xpunsterx commented on #214
I found a solution:

`composer global update fxp/composer-asset-plugin --no-plugins`

it's works for me, but only in composer.json looks like:

[code]

[2016-04-19 18:42] cebe commented on #214
works fine for me with the following versions:

[code]

[2016-04-20 15:39] itstueben commented on #210
I want to develop this PrivateRepo Class. I'm in the Final Steps. I need some help in the SVNDriver Class. I want to get some Information from composer.json . How can i get these Information in a function in the SVNDriver Class?

[2016-04-22 11:16] francoispluchino commented on #210
What are the informations you want in the `composer.json` file?

[2016-04-24 17:50] snickom commented on #214
I got the following error message:
` [ErrorException]
  Declaration of Fxp\Composer\AssetPlugin\Repository\AbstractAssetsRepository
  ::whatProvides() should be compatible with Composer\Repository\ComposerRepo
  sitory::whatProvides(Composer\DependencyResolver\Pool $pool, $name, $bypass
  Filters = false) `

$ composer --version
Composer version 1.0.2 2016-04-21 12:30:18
$ composer global show -i

[2016-04-24 18:15] snickom commented on #214
After removing composer.lock and vendor folder everything works fine.

[2016-04-24 18:59] francoispluchino commented on #214
Great!

[2016-04-24 18:59] #214 closed

[2016-04-24 19:16] francoispluchino commented on #212
Try with the last stable version of Composer (`1.0.2`) and this plugin (`1.1.4`).

[2016-04-24 19:19] francoispluchino commented on #211
@schmunk42 If you have a fix, thanks in advance. It is in the class [SemverConverter](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Converter/SemverConverter.php) that goes.

[2016-04-24 19:20] francoispluchino commented on #209
Plugin is installed in global mode?

[2016-04-24 19:21] francoispluchino commented on #208
@schmunk42 If you want to implement this feature.

[2016-04-24 19:23] francoispluchino commented on #204
@norbe Because it's the standard behavior of the VCS Drivers.

[2016-04-24 19:24] #196 closed

[2016-04-24 19:25] #186 closed

[2016-04-24 19:26] francoispluchino commented on #211
I thinks that it is the same bug of this issue #172.

[2016-04-25 06:15] itstueben commented on #210
https://github.com/itstueben/composer-asset-plugin/blob/master/Repository/BowerPrivateRepository.php

I forked you Repo and add the new Private Repo File. But how can i access the composer.json options on line 34?

[2016-04-25 14:20] pelmennoteam commented on #208
Possible workaround is in using of an external cache server (#215).

[2016-04-26 12:51] itstueben commented on #210
I need the Information in the extra Section. For example "asset-svn-credentials"

[2016-04-26 13:27] francoispluchino commented on #210
The credentials are managed by Composer, maybe that you want to talk of `svn-cache-credentials`.

To get the extra section in assets repository, you can add the `$extra` variable in `$config` variable (ex. `'composer-extra' => $extra`) in the [AssetPlugin::addRegistryRepositories](https://github.com/francoispluchino/composer-asset-plugin/blob/master/Util/AssetPlugin.php#L84) method.

[2016-04-27 13:57] schmunk42 commented on #208
@francoispluchino Would love to, but chances are not too high :)

[2016-04-28 16:16] iAchilles opened #218 "strpos() expects parameter 1 to be string, array given"
I updated composer-asset-plugin to v 1.1.4 and now I can't use composer update.
Everytime I have the Exception:
[ErrorException]
  strpos() expects parameter 1 to be string, array given

Exception trace:
 () at /home/igor/.composer/vendor/fxp/composer-asset-plugin/Converter/NpmPackageUtil.php:72
 Composer\Util\ErrorHandler::handle() at n/a:n/a
 strpos() at /home/igor/.composer/vendor/fxp/composer-

[2016-04-28 16:18] francoispluchino commented on #218
See #216.

[2016-05-04 07:59] francoispluchino commented on #218
Fixed by #216.

[2016-05-04 07:59] #218 closed

[2016-05-06 23:39] dbd5 commented on #213
Thanks, got it

[2016-05-06 23:39] #213 closed

[2016-05-10 15:46] grasmash commented on #100
I've also run into this issue and I've found that I get inconsistent results depending on the machine that I use to download the npm-asset/underscore dependency.

[2016-05-10 15:49] grasmash commented on #100
@francoispluchino Could this issue be re-opened? It has not been resolved, as npm-asset/underscore may be define as a requirement for another dependency, causing a failed build.

[2016-05-11 07:45] #98 closed

[2016-05-11 07:46] francoispluchino commented on #98
Fixed by #219.

[2016-05-11 07:46] francoispluchino commented on #104
Fixed by #219.

[2016-05-11 07:46] #104 closed

[2016-05-18 11:51] johndan102 commented on #89
@sadranyi  Your solution solved my challenge. Thanks a lot :)

[2016-05-18 20:22] SuperPuppet opened #220 "unable to install npm-asset/markdown"
I tried to run
`composer require npm-asset/markdown`,
and got this error
[code]

the composer version is v1.1.1
the plugin version is v1.1.4

[2016-05-18 20:37] #220 closed

[2016-05-24 22:33] sadranyi commented on #89
Welcome

[2016-05-26 12:45] mmlado opened #221 "composer require bower-asset/backbone.marionette: Could not parse version constraint <=1.3.x: Invalid version string "1.3.x""
We're getting error: Could not parse version constraint <=1.3.x: Invalid version string "1.3.x" when trying to install bower-asset/backbone.marionette
When looking at marionette source https://github.com/marionettejs/backbone.marionette/blob/master/bower.json looks like they changed the dependencies to show:
"backbone": "1.0.0 - 1.3.x",
Looking at: Converter/SemverConverter.php
It looks like the x

[2016-05-26 12:47] francoispluchino commented on #221
Any PR is welcome.

[2016-05-27 08:41] hypeJunction opened #223 "Installation in project scope"
I am bit confused: the docs say you can install composer-asset-plugin in project scope, however the release notes suggest `Installation: must be do in global mode`.
So, which one is true? I have tried to move our project to project scope installation, but Travis have failed on all occasions. Local installation is succeeding (but I already have 1.1.4 installed in global scope). Is there a specific

[2016-05-27 09:19] francoispluchino commented on #223
Initially, it had to be the case, but unfortunately this is not possible. However I will clean the doc, it is an oversight.

[2016-05-27 09:51] hypeJunction commented on #223
Ok, thanks for the clarification.

[2016-05-27 17:54] francoispluchino commented on #210
Added by #217.

[2016-05-27 17:54] #210 closed

[2016-05-27 18:05] #221 closed

[2016-05-28 13:45] francoispluchino commented on #170
Fixed by 2bc14ef31b302d05fe84bd4ef88d5ba2314580bf.

[2016-05-28 13:45] #170 closed